template(name="DetailsFormArrayLinkSeeAll")

  .input.form-group.array-item

    .key
      i.material-icons more_horiz
      | {{getValue definition entity}}

    .value
      i.fa.fa-angle-right.icon
