template(name="DetailsFormHeader")
    .section.indigo
        .section-content

            if section.title
                h1.title {{{getValueByKey section.title entity}}}

            if section.description
                p.description {{{getValueByKey section.description entity}}}
