#editPermissionsModal.modal.inmodal(tabindex='-1' aria-hidden='true')
	.modal-dialog.modal-md.animated.fadeInUp
		.modal-content
			if isProjectAdmin
				with getData
					.modal-header
						i.fa.fa-lock.modal-icon
						h2.m-b-none {{_ 'modal.editPermissions.title' userName}}
					.modal-body
						form.form-horizontal
							.form-group-header
								h4 {{_ 'modal.editPermissions.projectPermissions'}}
							.hr-line-dashed
							.form-group
								label.col-sm-4.control-label {{_ 'modal.editPermissions.projectRole'}}:
								.col-sm-6
									.dropdown
										button.btn.btn-white.btn-block.dropdown-toggle(data-toggle='dropdown' aria-expanded='false')
											span.m-r {{getPermission userId _id}}
											span.caret.pull-right
										ul.dropdown-menu
											li
												a.changePermission(href permission='admin') {{_ 'role.admin'}}
											li
												a.changePermission(href permission='shiftAdmin') {{_ 'role.shiftAdmin'}}
											li
												a.changePermission(href permission='shiftScheduler') {{_ 'role.shiftScheduler'}}
											li
												a.changePermission(href permission='storeAdmin') {{_ 'role.storeAdmin'}}
											li
												a.changePermission(href permission='member') {{_ 'role.member'}}
							.hr-line-dashed
							.form-group-header
								h4 {{_ 'modal.editPermissions.tagPermissions'}}
							.hr-line-dashed
							each tag in tags
								.form-group
									label.col-sm-4.control-label {{tag.name}}-{{_ 'role.role'}}:
									.col-sm-6
										.dropdown(tagId='{{tag._id}}')
											button.btn.btn-white.btn-block.dropdown-toggle(data-toggle='dropdown' aria-expanded='false')
												span.m-r {{getPermission userId tag._id}}
												span.caret.pull-right
											ul.dropdown-menu
												li
													a.changeTagPermission(href permission='teamleader') {{_ 'role.teamleader'}}
												li
													a.changeTagPermission(href permission='substituteTeamleader') {{_ 'role.substituteTeamleader'}}
												li
													a.changeTagPermission(href permission='participant') {{_ 'role.participant'}}
												li
													a.changeTagPermission(href permission='none') {{_ 'role.nothing'}}
							.hr-line-dashed
							.form-group-header
								h4 {{_ 'modal.editPermissions.explanations'}}
							.hr-line-dashed
							p {{_ 'modal.editPermissions.helpText.admin'}}
							p {{_ 'modal.editPermissions.helpText.shiftAdmin'}}
							p {{_ 'modal.editPermissions.helpText.shiftScheduler'}}
							p {{_ 'modal.editPermissions.helpText.storeAdmin'}}
							p {{_ 'modal.editPermissions.helpText.member'}}
							.hr-line-dashed
							p {{_ 'modal.editPermissions.helpText.teamleader'}}
							p {{_ 'modal.editPermissions.helpText.substituteTeamleader'}}
							p {{_ 'modal.editPermissions.helpText.participant'}}
							p {{_ 'modal.editPermissions.helpText.nothing'}}
					.modal-footer
						button#close.btn.btn-white.pull-right(data-dismiss='modal') {{_ 'modal.close'}}
				else
					.modal-header
						i.fa.fa-lock.modal-icon
						h2.m-b-none {{_ 'modal.editPermissions.title' '...'}}
					.modal-body
						.sk-spinner.sk-spinner-pulse
					.modal-footer
						button#close.btn.btn-white.pull-right(data-dismiss='modal') {{_ 'modal.close'}}
			else
				.modal-header
					h2 {{_ 'role.noPermission'}}
