.footable-filtering .input-group .input-group-btn {
	button {
		border-top-right-radius   : 4px !important;
		border-bottom-right-radius: 4px !important;
	}

	button:last-of-type,
	ul.dropdown-menu {
		display: none;
	}
}

.sweet-alert {
	max-height: 80% !important;
	overflow-y: auto !important;
	margin-top: -200px !important;
}

#page-wrapper,
#wrapper {
	min-height      : 100%;
	background-color: transparent;
}

#page-wrapper {
	padding: 0;
}

.navbar-right {
	float: right;
}

.page-heading {
	padding-top: 20px !important;
}

body.md-skin {
	padding-top: 50px;

	&.gray-bg {
		color           : $grey;
		background-color: #f3f3f3 !important;
	}

	.ibox-title,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		cursor: default;
	}

	.z-index-10 {
		z-index: 10;
	}

	.modal-body {
		padding: 20px 30px;

		.form-horizontal .form-group-header h4 {
			color: #999 !important;
		}
	}

	.navbar-header a.navbar-brand {
		font-weight: 300;

		&:focus,
		&:hover {
			color: #eee;
		}

		&.dashboard,
		&.dashboard:focus,
		&.dashboard:hover {
			color : #eee;
			cursor: default;
		}
	}

	&.top-navigation {
		@media (max-width: 768px) {
			.navbar-header {
				display: inline;
				float  : left;
			}

			.nav.navbar-right li a {
				padding: 15px;
			}
		}

		.nav.navbar-right > li > a {
			color: #fff;

			&:focus,
			&:hover {
				color           : #eee;
				background-color: inherit;
			}
		}
	}
}
