@media (min-width: 768px) {
	.seven-cols .col-lg-1,
	.seven-cols .col-md-1,
	.seven-cols .col-sm-1 {
		width: 100%;
	}
}
@media (min-width: 992px) {
	.seven-cols .col-lg-1,
	.seven-cols .col-md-1,
	.seven-cols .col-sm-1 {
		width: 14.2857%;
	}
}
@media (min-width: 1200px) {
	.seven-cols .col-lg-1,
	.seven-cols .col-md-1,
	.seven-cols .col-sm-1 {
		width: 14.2857%;
	}
}
