.first-login-box
	.row
		.col-xs-12
			.ibox-content
				with user
					h2.text-center.m-b-lg {{_ "firstLogin.name"}} {{profile.firstname}}
					p.center-align {{{_ "firstLogin.text"}}}
					if getErrorMessage
						.alert.alert-danger {{getErrorMessage}}
					.row
						if noState
							.center-align
								.col-lg-12.m-t
									button#createAccount.btn.btn-primary {{_ "firstLogin.buttonCreateAccount"}}
								.col-lg-12.m-t
									| - or -
								.col-lg-12.m-t
									button#haveAccount.btn.btn-primary {{_ "firstLogin.buttonHaveAccount"}}
						else
							.col-lg-12
								form.m-t
									if registerState
										.form-group
											input#username.form-control(type='text' placeholder='{{_ "input.username"}}' required tabindex='1')
										.form-group
											input#password1.form-control(type='password' placeholder='{{_ "input.password"}}' required tabindex='2')
										.form-group
											input#password2.form-control(type='password' placeholder='{{_ "input.passwordRepeat"}}' required tabindex='3')
										.form-group
											.checkbox.checkbox-inline(tabindex='4')
												input#agreeTerms(type='checkbox')
												label(for='agreeTerms') {{{_ 'firstLogin.agreeTerms'}}}
										button.btn.btn-primary.block.full-width(type='submit') {{_ "firstLogin.button"}}
										button#haveAccount.btn.btn-white.block.full-width.m-t {{_ "firstLogin.buttonHaveAccount"}}
									else
										.form-group
											input#username.form-control(type='text' placeholder='{{_ "input.username"}}' required tabindex='1')
										.form-group
											input#password.form-control(type='password' placeholder='{{_ "input.password"}}' required tabindex='2')
										button.btn.btn-primary.block.full-width.ladda-button(data-style='slide-down' type='submit') {{_ "firstLogin.button"}}
										button#createAccount.btn.btn-white.block.full-width.m-t I need to create an account
				else
					if loggingIn
						.sk-spinner.sk-spinner-pulse
					else if isLoading
						.sk-spinner.sk-spinner-pulse
					else
						h2.center-align {{{_ 'resetPassword.noUserFound'}}}
	.dropdown.m-t.text-center
		+languageSwitch
	p.m-t.text-center
		a(href="{{pathFor 'home' language=langTag}}") {{_ "resetPassword.back"}}
