if queryParam 'addVessel'
	+addVesselModal
if queryParam 'editVessel'
	+editVesselModal
.wrapper-content
	.container
		.row
			.col-lg-12
				.row.m-b-lg
					.col-xs-12
						h2.center-align.m-t-xs.m-b-none {{_ 'vessels.title'}}
				.ibox
					.ibox-content
						input#search.form-control(type='text' placeholder='{{_ "vessels.placeholder"}}')
				.ibox
					.ibox-content
						table#table.table.table-stripped.no
						if isLoading
							.center-align.h4
								i.fa.fa-spinner.fa-pulse
						else if noResults
							.center-align.h4 {{_ 'vessels.noResults'}}
						else if moreResultsAvailable
							.center-align.h4 {{_ 'vessels.moreResultsAvailable'}}
						else if tooManyResultsAvailable
							.center-align.h4 {{_ 'vessels.tooManyResultsAvailable'}}
						.row.m-b-sm
							.col-xs-12
								button#addVessel.btn.btn-primary.inline.pull-right.m-r-sm
									i.fa.fa-plus
									| {{_ 'vessels.addNewVessel'}}
