if isLoading
	.search-title.clearfix
		i.fa.fa-circle-o-notch.fa-spin
		| Loading...
else if noResults
	.search-title {{_ 'vessels.noResults'}}
else
	.search-title.clearfix
		.pull-left {{totalFound}} results
		if moreResultsAvailable
			.pull-right Showing the first {{maxResultsShown}}
		else
			.pull-right Showing all

table#table.table.table-stripped.results-desktop

if results
	table.results-mobile
		each results
			tr
				th
					b Name:
					b Callsign:
					b Type:
					b Flag:
				td
					span {{valueOrDash name}}
					span {{valueOrDash callsign}}
					span {{valueOrDash type}}
					span {{valueOrDash flag}}

if noResults
	.center-align.m-t-xl
		p Search for a vessel or create a new one
		button#createNew.btn.btn-primary.btn-circle
			i.fa.fa-plus
else if moreResultsAvailable
	button#more.btn.btn-default.btn-sm ...
