if isLoading
	.search-title.clearfix
		i.fa.fa-circle-o-notch.fa-spin
		| {{_ 'searchForm.loading'}}...
else if noResults
	.search-title {{_ 'searchForm.noResults'}}
else
	.search-title.clearfix
		.pull-left {{_ 'searchForm.xResults' totalFound count=totalFound}}
		if moreResultsAvailable
			.pull-right {{_ 'searchForm.showingTheFirstX' maxResultsShown}}
		else
			.pull-right {{_ 'searchForm.showingAll' count=totalFound}}

table#table.table.table-stripped.results-desktop

if results
	table.results-mobile
		each results
			tr
				th
					b {{_ 'vessels.name'}}:
					b {{_ 'vessels.callsign'}}:
					b {{_ 'vessels.type'}}:
					b {{_ 'vessels.flag'}}:
				td
					span {{valueOrDash name}}
					span {{valueOrDash callsign}}
					span {{valueOrDash type}}
					span {{valueOrDash flag}}

if noResults
	.center-align.m-t-xl
		p Search for a vessel or create a new one
		button#createNew.btn.btn-primary.btn-circle
			i.fa.fa-plus
else if moreResultsAvailable
	.center-align.m-t-sm.m-b-sm
		button#more.btn.btn-primary.btn-outline.btn-circle
			i.fa.fa-arrow-down
