.nav-view-transition-ios.nav-view-direction-forward(data-nav-container)
	.view.nav-view-entering.nav-view-active
		.scroll-content.ionic-scroll
			.content.overflow-scroll.has-header
				.list.m-t-lg
					a.item.item-icon-right.small(href)
						| Düsseldorf-Ost
						i.icon.ion-ios-arrow-right
					a.item.item-icon-right.small(href)
						| Bibelausstellung 2017
						i.icon.ion-ios-arrow-right
