.nav-view-transition-ios.nav-view-direction-forward(data-nav-container)
	.view.nav-view-entering.nav-view-active
		.bar.bar-subheader
			h2.title Düsseldorf-Ost
			p.text-center Keine Neuigkeiten
		.scroll-content.ionic-scroll
			.content.overflow-scroll.has-header
