.nav-view-transition-ios.nav-view-direction-forward(data-nav-container)
	.view.nav-view-entering.nav-view-active
		.scroll-content.ionic-scroll
			.content.overflow-scroll.has-header
				.list-header My Projects
				.list.list-ios
					a.item.item-icon-left.item-icon-right(href)
						i.icon.ion-ios-home
						|  Düsseldorf-Ost
						i.icon.ion-ios-arrow-right
					a.item.item-icon-left.item-icon-right(href)
						i.icon.ion-ios-home
						| Bibelausstellung 2017
						i.icon.ion-ios-arrow-right
