.modal-dialog.modal-sm
	.modal-content
		.modal-header
			i.fa.fa-camera.modal-icon
			h2.m-b-none {{_ 'modal.editProfilePicture.title'}}
		.modal-body
			p {{_ 'modal.editProfilePicture.text'}}
			label.btn.btn-primary.btn-block
				input#edit.hidden(type='file' accept='image/jpeg,image/png')
				i.fa.fa-upload
				| {{_ 'modal.editProfilePicture.upload'}}
			button#delete.btn.btn-danger.btn-block
				i.fa.fa-trash
				| {{_ 'modal.editProfilePicture.remove'}}
		.modal-footer
			button#close.btn.btn-white.pull-right(data-dismiss='modal') {{_ 'modal.close'}}
