.settings-wrapper {
	background: #fafafa !important;

	.ibox-title p {
		margin: 0 0 5px;
	}

	.ibox-content {
		background-color: #f8f8f8;

		.form-horizontal {
			div.hr-line-dashed {
				border-color    : #ddd;
				border-top-style: solid;
				background-color: transparent;

				&:last-of-type {
					display: none;
				}
			}

			.week-group {
				border          : 1px solid #ddd;
				margin          : 0;
				padding         : 0;
				font-size       : 14px;
				list-style      : none;
				border-radius   : 5px;
				background-color: #fff;

				li.week-group-item {
					border-top: 1px solid #ddd;

					&:first-of-type {
						border-top-left-radius : inherit;
						border-top-right-radius: inherit;
						border-top             : 0;
					}

					&:last-of-type {
						border-bottom-left-radius : inherit;
						border-bottom-right-radius: inherit;
					}

					.dropdown {
						border-radius: inherit;

						&.open > a {
							color           : #fff;
							border-radius   : inherit;
							background-color: $indigo;
						}

						.dropdown-menu {
							border-radius: 5px;

							li {
								&:first-of-type {
									border-top-left-radius : inherit;
									border-top-right-radius: inherit;
								}

								&:last-of-type {
									border-bottom-left-radius : inherit;
									border-bottom-right-radius: inherit;
								}

								a {
									padding  : 6px 10px;
									font-size: 13px;

									&:active,
									&:hover {
										color           : #333;
										background-color: #eee;
									}

									i {
										margin-right: 3px;
									}
								}
							}
						}
					}

					a {
						color  : $text-color;
						display: block;
						padding: 6px 10px 6px 15px;

						&#addTemplate {
							color: #aaa;

							&:active,
							&:hover {
								color: #fff;
							}
						}

						&:active,
						&:hover {
							color           : #fff;
							border-radius   : inherit;
							background-color: $indigo;
						}

						button {
							border          : 0;
							padding         : 0;
							background-color: transparent;
						}
					}
				}
			}
		}

		.field-label {
			color      : #888;
			text-align : left;
			font-weight: 300;

			&.red {
				color: $red;
			}
		}

		textarea {
			resize: vertical;
		}

		.caret.pull-right {
			margin-top: 8px;
		}

		.dropdown-menu-inverted {
			position: relative !important;

			li.inverted {
				background-color: $indigo;

				a {
					border-left  : 5px solid transparent;
					border-right : 5px solid transparent;
					border-top   : 1px solid transparent;
					border-bottom: 1px solid transparent;
					border-radius: 0;
					text-align   : center;

					&:hover {
						background-color: inherit;
						border-color    : #fff;
					}

					i {
						color: #fff;
					}
				}
			}
		}
	}

	#addTemplate,
	.help-block,
	.text-muted {
		font-weight: 300;
	}
}
