.wrapper-content
	.container
		.row
			.col-lg-3
				.ibox
					.ibox-title
						h2 Navigation
					.ibox-content
						ol.dd-list
							li.dd-item
								.dd-handle Main
							li.dd-item
								.dd-handle Templates
								ol.dd-list
									li.dd-item
										.dd-handle Sommerwoche
									li.dd-item
										.dd-handle Winterwoche
							li.dd-item
								.dd-handle Tags
								ol.dd-list
									li.dd-item
										.dd-handle Trolley
									li.dd-item
										.dd-handle Infostand
							li.dd-item
								.dd-handle Teams
								ol.dd-list
									li.dd-item
										.dd-handle Hauptbahnhof
									li.dd-item
										.dd-handle Innenstadt
							li.dd-item
								.dd-handle Meeting Points
								ol.dd-list
									li.dd-item
										.dd-handle Treffpunkt 1
									li.dd-item
										.dd-handle Treffpunkt 2
							li.dd-item
								.dd-handle System Behaviour
								ol.dd-list
									li.dd-item
										.dd-handle Trolley
									li.dd-item
										.dd-handle Infostand
			.col-lg-9
				//.ibox
					.ibox-title
						h2 Main Project Settings
					.ibox-content
						form.form-horizontal
							.form-group
								label.col-lg-2.control-label Name
								.col-lg-10
									input.form-control(type='text' placeholder='Name')
							.form-group
								label.col-lg-2.control-label Email
								.col-lg-10
									input.form-control(type='email' placeholder='Email')
							.form-group
								.col-lg-offset-2.col-lg-10
									select.form-control.m-b(name='language')
										option English
										option German
				//.ibox
					.ibox-title
						h2 Project Templates
					.ibox-content
						p blah blah blah
						form.form-horizontal
							.form-group
								.col-lg-offset-2.col-lg-10
									button.btn.btn-link + Create new template
							.form-group
								.col-lg-offset-2.col-lg-10
									button.btn.btn-link Go to "Sommerwoche" >
									button.btn.btn-link Go to "Winterwoche" >
				//.ibox
					.ibox-title
						h2 Template: Sommerwoche
					.ibox-content
						form.form-horizontal
							.form-group
								label.col-lg-2.control-label Name
								.col-lg-10
									input.form-control(type='text' placeholder='Name')
							.form-group
								.col-lg-offset-2.col-lg-10
									button.btn.btn-link Edit Shifts
							.form-group
								.col-lg-offset-2.col-lg-10
									button.btn.btn-danger Delete
				//.ibox
					.ibox-title
						h2 Project Tags
					.ibox-content
						p blah blah blah
						form.form-horizontal
							.form-group
								.col-lg-offset-2.col-lg-10
									button.btn.btn-link + Create new tag
							.form-group
								.col-lg-offset-2.col-lg-10
									button.btn.btn-link Go to "Trolley" >
									button.btn.btn-link Go to "Infostand" >
				//.ibox
					.ibox-title
						h2 Tag: Trolley
					.ibox-content
						form.form-horizontal
							.form-group
								label.col-lg-2.control-label Name
								.col-lg-10
									input.form-control(type='text' placeholder='Name')
							.form-group
								.col-lg-offset-2.col-lg-10
									button.btn.btn-link Edit Picture
							.form-group
								.col-lg-offset-2.col-lg-10
									button.btn.btn-danger Delete
				//.ibox
					.ibox-title
						h2 Project Teams
					.ibox-content
						p blah blah blah
						a(href) Hauptbahnhof
						| |
						a(href) Innenstadt
				//.ibox
					.ibox-title
						h2 Team: Hauptbahnhof
					.ibox-content
						form.form-horizontal
							.form-group
								label.col-lg-2.control-label Name
								.col-lg-10
									input.form-control(type='text' placeholder='Name')
							.form-group
								.col-lg-offset-2.col-lg-10
									button.btn.btn-link Change Color
							.form-group
								.col-lg-offset-2.col-lg-10
									button.btn.btn-link Edit Icon
							.form-group
								.col-lg-offset-2.col-lg-10
									button.btn.btn-link Edit Picture
							.form-group
								label.col-lg-2.control-label Link
								.col-lg-10
									input.form-control(type='text' placeholder='Link')
							.form-group
								label.col-lg-2.control-label Description
								.col-lg-10
									input.form-control(type='text' placeholder='Description')
							.form-group
								.col-lg-offset-2.col-lg-10
									button.btn.btn-danger Delete
				//.ibox
					.ibox-title
						h2 Project Meeting Points
					.ibox-content
						p blah blah blah
						a(href) Treffpunkt 1
						| |
						a(href) Treffpunkt 2
				//.ibox
					.ibox-title
						h2 Meeting Point: Treffpunkt 1
					.ibox-content
						form.form-horizontal
							.form-group
								label.col-lg-2.control-label Name
								.col-lg-10
									input.form-control(type='text' placeholder='Name')
							.form-group
								.col-lg-offset-2.col-lg-10
									button.btn.btn-link Edit Picture
							.form-group
								label.col-lg-2.control-label Link
								.col-lg-10
									input.form-control(type='text' placeholder='Link')
							.form-group
								label.col-lg-2.control-label Description
								.col-lg-10
									input.form-control(type='text' placeholder='Description')
							.form-group
								.col-lg-offset-2.col-lg-10
									button.btn.btn-danger Delete
				//.ibox
					.ibox-title
						h2 System Behaviour for this Project
					.ibox-content
						form.form-horizontal
							.form-group
								label.col-lg-2.control-label Name
								.col-lg-10
									input.form-control(type='text' placeholder='Name')
				.ibox
					.ibox-title
						h2 Trolley
					.ibox-content
						p blah blah blah
						form.form-horizontal
							.form-group
								label.col-lg-2.control-label Name
								.col-lg-10
									input.form-control(type='text' placeholder='Name')
				.ibox
					.ibox-content
						h3 Welche Art der Einteilung möchtest du benutzen?
						.m-l-lg
							h4
								input(type="radio" value="" id="" name="")
								span.m-l-sm Komplett manuelle Einteilung
							.m-l-lg
								input(type="checkbox")
								span.m-l-sm Schichtplaner über jede Bewerbung benachrichtigen
								button.btn.btn-link.btn-xs.m-l-sm(type="button")
									i.fa.fa-envelope
							.m-l-lg
								input(type="checkbox")
								span.m-l-sm Schichtplaner über jede Bewerbung benachrichtigen, wenn genügend Bewerber vorhanden
								button.btn.btn-link.btn-xs.m-l-sm(type="button")
									i.fa.fa-envelope
							h4
								input(type="radio" value="" id="" name="")
								span.m-l-sm Manuelle Einteilung mit Hilfe des Einteilungsassistenten
							.m-l-lg
								input(type="checkbox")
								span.m-l-sm Schichtplaner über jede Bewerbung benachrichtigen
								button.btn.btn-link.btn-xs.m-l-sm(type="button")
									i.fa.fa-envelope
							.m-l-lg
								input(type="checkbox")
								span.m-l-sm Schichtplaner über jede Bewerbung benachrichtigen, wenn genügend Bewerber vorhanden
								button.btn.btn-link.btn-xs.m-l-sm(type="button")
									i.fa.fa-envelope
								h4.m-l-lg Wenn die Woche bereits mit dem Einteilungsassistenten eingeteilt wurde:
								.m-l-lg
									.m-b-xs
										input(type="radio" value="" id="" name="")
										span.m-l-sm Komplett manuelle Einteilung
									.m-l-lg
										input(type="checkbox")
										span.m-l-sm Schichtplaner über jede Bewerbung benachrichtigen
										button.btn.btn-link.btn-xs.m-l-sm(type="button")
											i.fa.fa-envelope
									.m-l-lg
										input(type="checkbox")
										span.m-l-sm Schichtplaner über jede Bewerbung benachrichtigen, wenn genügend Bewerber vorhanden
										button.btn.btn-link.btn-xs.m-l-sm(type="button")
											i.fa.fa-envelope
									.m-t-xs.m-b-xs
										input(type="radio" value="" id="" name="")
										span.m-l-sm Voll-Automatische Einteilung
									.m-l-lg
										input(type="checkbox")
										span.m-l-sm Schichtplaner über jede Einteilung benachrichtigen
										button.btn.btn-link.btn-xs.m-l-sm(type="button")
											i.fa.fa-envelope
							h4
								input(type="radio" value="" id="" name="")
								span.m-l-sm Voll-Automatische Einteilung
							.m-l-lg
								input(type="checkbox")
								span.m-l-sm Schichtplaner über jede Einteilung benachrichtigen
								button.btn.btn-link.btn-xs.m-l-sm(type="button")
									i.fa.fa-envelope

						.hr-line-dashed

						h3 Einplanung durch den Admin ohne eine eigene Bewerbung des Verkündigers
						.m-l-lg
							input(type="checkbox")
							span.m-l-sm "Bewerber" über die Einplanung benachrichtigen
							button.btn.btn-link.btn-xs.m-l-sm(type="button")
								i.fa.fa-envelope

						.hr-line-dashed

						h3 Benachrichtigung über Stattfinden/Änderung einer Schicht
						.m-l-lg
							input(type="checkbox")
							span.m-l-sm Bewerber über seine Annahme benachrichtigen
							button.btn.btn-link.btn-xs.m-l-sm(type="button")
								i.fa.fa-envelope
						.m-l-lg
							input(type="checkbox")
							span.m-l-sm Den Teamleiter über das Update seiner Schicht benachrichtigen
							button.btn.btn-link.btn-xs.m-l-sm(type="button")
								i.fa.fa-envelope
						.m-l-lg
							input(type="checkbox")
							span.m-l-sm Alle anderen Teilnehmer des Teams über das Update ihrer Schicht benachrichtigen
							button.btn.btn-link.btn-xs.m-l-sm(type="button")
								i.fa.fa-envelope
						.m-l-lg
							input(type="checkbox")
							span.m-l-sm Alle anderen Teilnehmer aller Teams dieser Schicht über das Update ihrer Schicht benachrichtigen
							button.btn.btn-link.btn-xs.m-l-sm(type="button")
								i.fa.fa-envelope
						.m-l-lg
							input(type="checkbox")
							span.m-l-sm Alle anderen Teamleiter an diesem Tag über die Änderung eines Teamleiters benachrichtigen
							button.btn.btn-link.btn-xs.m-l-sm(type="button")
								i.fa.fa-envelope

						.hr-line-dashed

						h3 Verhalten bei Absage einer Teilnahme:
						.m-l-lg
							h4 Wenn dadurch das Minimum unterschritten wird (Schicht kann nicht mehr stattfinden)
							.m-l-lg
								.m-b-xs Neue Bewerbungen werden wieder zugelassen und alle Teilnehmer werden zu Bewerbern zurückgestuft
								.m-l-lg
									input(type="checkbox")
									span.m-l-sm Alle Teilnehmer des Teams über die Absage des Teams benachrichtigen
									button.btn.btn-link.btn-xs.m-l-sm(type="button")
										i.fa.fa-envelope
								.m-l-lg
									input(type="checkbox")
									span.m-l-sm Alle anderen Teilnehmer aller Teams dieser Schicht über die Absage des Teams benachrichtigen
									button.btn.btn-link.btn-xs.m-l-sm(type="button")
										i.fa.fa-envelope
								.m-l-lg
									input(type="checkbox")
									span.m-l-sm Alle anderen Teamleiter an diesem Tag über die Absage eines Teams benachrichtigen
									button.btn.btn-link.btn-xs.m-l-sm(type="button")
										i.fa.fa-envelope
								.m-l-lg
									input(type="checkbox")
									span.m-l-sm Schichtplaner über Absage des Teams benachrichtigen
									button.btn.btn-link.btn-xs.m-l-sm(type="button")
										i.fa.fa-envelope
									.m-b-xs.m-l-lg
										input(type="checkbox")
										span.m-l-sm Nicht benachrichtigen, wenn er das selbst ausgelöst hat
								.m-l-lg.m-t-sm
									input(type="checkbox")
									span.m-l-sm Alle abgelehnten Bewerber über unterbesetztes Teams benachrichtigen
									button.btn.btn-link.btn-xs.m-l-sm(type="button")
										i.fa.fa-envelope
								.m-l-lg
									input(type="checkbox")
									span.m-l-sm Alle Verkündiger des Tags über unterbesetztes Team benachrichtigen
									button.btn.btn-link.btn-xs.m-l-sm(type="button")
										i.fa.fa-envelope

								.m-t-xs.m-b-xs
									input(type="checkbox")
									span.m-l-sm Falls abgelehnte Bewerber vorhanden sind, stattdessen einen dieser automatisch annehmen
								.m-l-lg
									input(type="checkbox")
									span.m-l-sm Neuen Teilnehmer über Annahme benachrichtigen
									button.btn.btn-link.btn-xs.m-l-sm(type="button")
										i.fa.fa-envelope
								.m-l-lg
									input(type="checkbox")
									span.m-l-sm Alle Teilnehmer über Update der Schicht benachrichtigen
									button.btn.btn-link.btn-xs.m-l-sm(type="button")
										i.fa.fa-envelope
								.m-l-lg
									input(type="checkbox")
									span.m-l-sm Teamleiter über Update der Schicht benachrichtigen
									button.btn.btn-link.btn-xs.m-l-sm(type="button")
										i.fa.fa-envelope
								.m-l-lg.m-b-xs
									input(type="checkbox")
									span.m-l-sm Schichtplaner über Update der Schicht benachrichtigen
									button.btn.btn-link.btn-xs.m-l-sm(type="button")
										i.fa.fa-envelope

							h4 Wenn dadurch das Minimum nicht unterschritten wird (Schicht kann immernoch stattfinden)
							.m-l-lg
								.m-b-xs Bewerbungen werden wieder zugelassen
								.m-l-lg
									input(type="checkbox")
									span.m-l-sm Alle Teilnehmer über Absage des Teilnehmers benachrichtigen
									button.btn.btn-link.btn-xs.m-l-sm(type="button")
										i.fa.fa-envelope
								.m-l-lg
									input(type="checkbox")
									span.m-l-sm Teamleiter über Absage des Teilnehmers benachrichtigen
									button.btn.btn-link.btn-xs.m-l-sm(type="button")
										i.fa.fa-envelope
								.m-l-lg
									input(type="checkbox")
									span.m-l-sm Schichtplaner über Absage des Teilnehmers benachrichtigen
									button.btn.btn-link.btn-xs.m-l-sm(type="button")
										i.fa.fa-envelope

								.m-t-xs.m-b-xs
									input(type="checkbox")
									span.m-l-sm Falls abgelehnte Bewerber vorhanden sind, stattdessen einen dieser automatisch annehmen
								.m-l-lg
									input(type="checkbox")
									span.m-l-sm Neuen Teilnehmer über Annahme benachrichtigen
									button.btn.btn-link.btn-xs.m-l-sm(type="button")
										i.fa.fa-envelope
								.m-l-lg
									input(type="checkbox")
									span.m-l-sm Alle Teilnehmer über Update der Schicht benachrichtigen
									button.btn.btn-link.btn-xs.m-l-sm(type="button")
										i.fa.fa-envelope
								.m-l-lg
									input(type="checkbox")
									span.m-l-sm Teamleiter über Update der Schicht benachrichtigen
									button.btn.btn-link.btn-xs.m-l-sm(type="button")
										i.fa.fa-envelope
								.m-l-lg
									input(type="checkbox")
									span.m-l-sm Schichtplaner über Update der Schicht benachrichtigen
									button.btn.btn-link.btn-xs.m-l-sm(type="button")
										i.fa.fa-envelope


						.hr-line-dashed
