//if queryParam 'editMeetingPicture'
	+editMeetingPictureModal
//if queryParam 'editTeamPicture'
	+editTeamPictureModal
.container-fluid
	.row.m-t-lg
		if isProjectAdmin
			.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-0.col-lg-5.col-lg-offset-1
				+settingsMain data=getMainData
		if isProjectShiftAdmin
			.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-0.col-lg-5.z-index-10
				+settingsTags data=getTagData
	//.row
		.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-0.col-lg-5.col-lg-offset-1.z-index-10
			.ibox
				.ibox-title
					h2 {{_ 'settings.teams.title'}}
					.text-muted.m-t.m-b-xs {{{_ 'settings.teams.helpText.main'}}}
				.ibox-content
					if isProjectShiftAdmin
						form.form-horizontal
							with getProject
								if teams
									each teams
										.team
											.form-group
												label.col-sm-2.col-lg-4.control-label {{_ 'settings.teams.id'}}
												label.col-lg-8.control-label.field-label {{_id}}
											.form-group
												label.col-sm-2.col-lg-4.control-label {{_ 'settings.teams.name'}}
												.col-sm-10.col-lg-8
													input#teamName.form-control(type='text' placeholder='{{_ "settings.teams.name"}}' value='{{name}}')
											.form-group
												label.col-xs-12.col-sm-2.col-lg-4.control-label {{_ 'settings.teams.picture'}}
												with teamPicture
													label.col-xs-10.col-sm-8.col-lg-6.control-label.field-label {{original.name}}
												else
													label.col-xs-10.col-sm-8.col-lg-6.control-label.field-label.red {{_ 'settings.teams.noPicture'}}
												.col-xs-2
													#editTeamPicture.btn.btn-white.btn-circle.fa.fa-upload.pull-right(title="{{_ 'settings.teams.editPicture'}}")
												.col-xs-12.col-sm-offset-2.col-sm-10.col-lg-offset-4.col-lg-8
													span.help-block {{_ 'settings.teams.helpText.picture'}}
											.form-group
												label.col-sm-2.col-sm-2.col-lg-4.control-label {{_ 'settings.teams.link'}}
												.col-sm-10.col-lg-8
													input#teamLink.form-control(type='url' placeholder='{{_ "settings.teams.link"}}' value='{{link}}')
													span.help-block {{_ 'settings.teams.helpText.link'}}
											.form-group
												label.col-sm-2.col-sm-2.col-lg-4.control-label {{_ 'settings.teams.description'}}
												.col-sm-10.col-lg-8
													textarea#teamDescription.form-control(placeholder='{{_ "settings.teams.description"}}' rows='3') {{description}}
													span.help-block {{_ 'settings.teams.helpText.description'}}
											.form-group
												label.col-sm-2.col-lg-4.control-label {{_ 'settings.teams.action'}}
												.col-sm-10.col-lg-8
													#removeTeam.btn.btn-danger.btn-circle.fa.fa-trash(title="{{_ 'settings.teams.remove'}}")
										.hr-line-dashed
								else
									.center-align {{_ 'settings.teams.none'}}
							else
								.sk-spinner.sk-spinner-pulse
					else
						h2.center-align {{_ 'role.noPermission'}}
				.ibox-footer
					if isProjectShiftAdmin
						.m-sm.center-align
							#addTeam.btn.btn-primary.btn-circle.fa.fa-plus(title="{{_ 'settings.teams.add'}}")
		.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-0.col-lg-5
			.ibox
				.ibox-title
					h2 {{_ 'settings.meetings.title'}}
					.text-muted.m-t.m-b-xs {{_ 'settings.meetings.helpText.main'}}
				.ibox-content
					if isProjectShiftAdmin
						form.form-horizontal
							with getProject
								if meetings
									each meetings
										.meeting
											.form-group
												label.col-sm-2.col-lg-4.control-label {{_ 'settings.meetings.id'}}
												label.col-lg-8.control-label.field-label {{_id}}
											.form-group
												label.col-sm-2.col-lg-4.control-label {{_ 'settings.meetings.name'}}
												.col-sm-10.col-lg-8
													input#meetingName.form-control(type='text' placeholder='{{_ "settings.meetings.name"}}' value='{{name}}')
											.form-group
												label.col-xs-12.col-sm-2.col-lg-4.control-label {{_ 'settings.meetings.picture'}}
												with meetingPicture
													label.col-xs-10.col-sm-8.col-lg-6.control-label.field-label {{original.name}}
												else
													label.col-xs-10.col-sm-8.col-lg-6.control-label.field-label.red {{_ 'settings.meetings.noPicture'}}
												.col-xs-2
													#editMeetingPicture.btn.btn-white.btn-circle.fa.fa-upload.pull-right(title="{{_ 'settings.meetings.editPicture'}}")
												.col-xs-12.col-sm-offset-2.col-sm-10.col-lg-offset-4.col-lg-8
													span.help-block {{_ 'settings.meetings.helpText.picture'}}
											.form-group
												label.col-sm-2.col-lg-4.control-label {{_ 'settings.meetings.action'}}
												.col-sm-10.col-lg-8
													#removeMeeting.btn.btn-danger.btn-circle.fa.fa-trash(title="{{_ 'settings.meetings.remove'}}")
										.hr-line-dashed
								else
									.center-align {{_ 'settings.meetings.none'}}
							else
								.sk-spinner.sk-spinner-pulse
					else
						h2.center-align {{_ 'role.noPermission'}}
				.ibox-footer
					if isProjectShiftAdmin
						.m-sm.center-align
							#addMeeting.btn.btn-primary.btn-circle.fa.fa-plus(title="{{_ 'settings.meetings.add'}}")
