.ibox
	.ibox-title
		h2 Main Project Settings
	.ibox-content
		form.form-horizontal
			.form-group
				label.col-lg-2.control-label Name
				.col-lg-10
					input.form-control(type='text' placeholder='Name')
			.form-group
				label.col-lg-2.control-label Email
				.col-lg-10
					input.form-control(type='email' placeholder='Email')
			.form-group
				.col-lg-offset-2.col-lg-10
					select.form-control.m-b(name='language')
						option English
						option German
