.wrapper-content
	.container
		.row
			.col-lg-3
				.ibox
					.ibox-title
						h5 Navigation
					.ibox-content
						ol.dd-list
							li.dd-item
								.dd-handle Main
							li.dd-item
								.dd-handle Templates
								ol.dd-list
									li.dd-item
										.dd-handle Sommerwoche
									li.dd-item
										.dd-handle Winterwoche
							li.dd-item
								.dd-handle Tags
								ol.dd-list
									li.dd-item
										.dd-handle Trolley
									li.dd-item
										.dd-handle Infostand
							li.dd-item
								.dd-handle Teams
								ol.dd-list
									li.dd-item
										.dd-handle Hauptbahnhof
									li.dd-item
										.dd-handle Innenstadt
							li.dd-item
								.dd-handle Meeting Points
								ol.dd-list
									li.dd-item
										.dd-handle Treffpunkt 1
									li.dd-item
										.dd-handle Treffpunkt 2
							li.dd-item
								.dd-handle System Behaviour
			.col-lg-9
				.ibox
					.ibox-title
						h5 Main Project Settings
					.ibox-content
						form.form-horizontal
							.form-group
								label.col-lg-2.control-label Name
								.col-lg-10
									input.form-control(type='text' placeholder='Name')
							.form-group
								label.col-lg-2.control-label Email
								.col-lg-10
									input.form-control(type='email' placeholder='Email')
							.form-group
								.col-lg-offset-2.col-lg-10
									select.form-control.m-b(name='language')
										option English
										option German
				.ibox
					.ibox-title
						h5 Project Templates
					.ibox-content
						p blah blah blah
						a(href) Sommerwoche
						| |
						a(href) Winterwoche
				.ibox
					.ibox-title
						h5 Template: Sommerwoche
					.ibox-content
						form.form-horizontal
							.form-group
								label.col-lg-2.control-label Name
								.col-lg-10
									input.form-control(type='text' placeholder='Name')
							.form-group
								.col-lg-offset-2.col-lg-10
									button.btn.btn-primary Edit Shifts
							.form-group
								.col-lg-offset-2.col-lg-10
									button.btn.btn-danger Delete
				.ibox
					.ibox-title
						h5 Project Tags
					.ibox-content
						p blah blah blah
						a(href) Trolley
						| |
						a(href) Infostand
				.ibox
					.ibox-title
						h5 Tag: Trolley
					.ibox-content
						form.form-horizontal
							.form-group
								label.col-lg-2.control-label Name
								.col-lg-10
									input.form-control(type='text' placeholder='Name')
							.form-group
								.col-lg-offset-2.col-lg-10
									button.btn.btn-primary Edit Picture
							.form-group
								.col-lg-offset-2.col-lg-10
									button.btn.btn-danger Delete
				.ibox
					.ibox-title
						h5 Project Teams
					.ibox-content
						p blah blah blah
						a(href) Hauptbahnhof
						| |
						a(href) Innenstadt
				.ibox
					.ibox-title
						h5 Team: Hauptbahnhof
					.ibox-content
						form.form-horizontal
							.form-group
								label.col-lg-2.control-label Name
								.col-lg-10
									input.form-control(type='text' placeholder='Name')
							.form-group
								.col-lg-offset-2.col-lg-10
									button.btn.btn-primary Change Color
							.form-group
								.col-lg-offset-2.col-lg-10
									button.btn.btn-primary Edit Icon
							.form-group
								.col-lg-offset-2.col-lg-10
									button.btn.btn-primary Edit Picture
							.form-group
								label.col-lg-2.control-label Link
								.col-lg-10
									input.form-control(type='text' placeholder='Link')
							.form-group
								label.col-lg-2.control-label Description
								.col-lg-10
									input.form-control(type='text' placeholder='Description')
							.form-group
								.col-lg-offset-2.col-lg-10
									button.btn.btn-danger Delete
				.ibox
					.ibox-title
						h5 Project Meeting Points
					.ibox-content
						p blah blah blah
						a(href) Treffpunkt 1
						| |
						a(href) Treffpunkt 2
				.ibox
					.ibox-title
						h5 Meeting Point: Treffpunkt 1
					.ibox-content
						form.form-horizontal
							.form-group
								label.col-lg-2.control-label Name
								.col-lg-10
									input.form-control(type='text' placeholder='Name')
							.form-group
								.col-lg-offset-2.col-lg-10
									button.btn.btn-primary Edit Picture
							.form-group
								label.col-lg-2.control-label Link
								.col-lg-10
									input.form-control(type='text' placeholder='Link')
							.form-group
								label.col-lg-2.control-label Description
								.col-lg-10
									input.form-control(type='text' placeholder='Description')
							.form-group
								.col-lg-offset-2.col-lg-10
									button.btn.btn-danger Delete
				.ibox
					.ibox-title
						h5 System Behaviour for this Project
					.ibox-content
						form.form-horizontal
							.form-group
								label.col-lg-2.control-label Name
								.col-lg-10
									input.form-control(type='text' placeholder='Name')
