#uploadUserFileModal.modal.inmodal(tabindex='-1' aria-hidden='true')
	.modal-dialog.modal-lg.animated.fadeInUp
		.modal-content
			.modal-header
				i.fa.fa-upload.modal-icon
				h2 {{_ 'modal.uploadUserFile.title'}}
				.m-b-none {{{_ 'modal.uploadUserFile.helpText'}}}
				.m-t-sm {{{_ 'modal.uploadUserFile.helpID'}}}
				.m-t-sm
					b {{{_ 'modal.uploadUserFile.helpEncoding'}}}
			.modal-body
				if isProjectAdmin
					if uploading
						.sk-spinner.sk-spinner-pulse
					.row
						.col-sm-12
							if hasExistingUsers
								h3 {{_ 'modal.uploadUserFile.existing'}}
								table.table
									thead
										tr
											th #
											th {{_ 'modal.uploadUserFile.name'}}
											th {{_ 'modal.uploadUserFile.email'}}
									tbody
										each getExistingUsers
											tr
												td {{addOne @index}}
												td
													b {{firstname}} {{lastname}}
												td {{email}}
							if hasNewUsers
								h3 {{_ 'modal.uploadUserFile.new'}}
								table.table
									thead
										tr
											th #
											th {{_ 'modal.uploadUserFile.name'}}
											th {{_ 'modal.uploadUserFile.email'}}
									tbody
										each getNewUsers
											tr
												td {{addOne @index}}
												td
													b {{firstname}} {{lastname}}
												td {{email}}
				else
					h2.center-align {{_ 'role.noPermission'}}
			.modal-footer
				if isProjectAdmin
					label.btn.btn-primary.pull-left
						input#uploadFile.hide(type='file')
						| {{_ 'modal.uploadUserFile.uploadFile'}}
					button#addUsers.btn.btn-primary(data-dismiss='modal') {{_ 'modal.uploadUserFile.add'}}
				button#close.btn.btn-white.pull-right(data-dismiss='modal') {{_ 'modal.close'}}
