.twitter-typeahead {
	display: block !important;
}

.tt-menu {
	@extend .dropdown-menu;
	background-color: #fff;
}

.tt-hint {
	color: #999;
}

.tt-suggestion {
	margin         : 4px;
	padding        : 3px 15px;
	outline        : 0;
	text-align     : left;
	font-weight    : normal;
	line-height    : 25px;
	border-radius  : 3px;
	text-decoration: none;
}

.tt-suggestion:hover {
	color           : #fff;
	cursor          : pointer;
	background-color: $indigo;
}
