#editPermissionsModal {
	.modal-body {
		span.caret.pull-right {
			margin: 8px 0 8px 8px;
		}

		.dropdown-menu {
			left  : 0;
			right : 0;
			margin: 1px;

			.header {
				color: #999;
			}
		}

		.form-group-header {
			text-align: center;

			h4 {
				color      : $dark-gray;
				font-size  : 13px;
				font-weight: 300;
			}
		}

		div.hr-line-dashed {
			border-top-color: #ccc;
			background-color: transparent;
		}

		p {
			color      : #777;
			font-size  : 12px;
			font-weight: 300;
		}
	}

	.modal-footer {
		text-align: left;
	}
}
