.navigation-wrapper {
	.navbar-brand {
		padding-left: 15px;
	}

	.nav.navbar-top-links {
		padding-right: 0;
	}

	.language-item > a:hover ~ .language-menu,
	.language-item:hover > .language-menu,
	.language-menu:hover {
		top    : 60px;
		right  : 150px;
		width  : 220px;
		display: block;

		li > a > i {
			line-height: inherit;
		}
	}

	.version {
		margin                    : 10px -10px -10px;
		padding                   : 3px 10px;
		text-align                : right;
		background-color          : #eee;
		border-bottom-left-radius : 3px;
		border-bottom-right-radius: 3px;

		a {
			color           : $indigo;
			margin          : 0 !important;
			padding         : 0 !important;
			font-size       : 10px;
			background-color: inherit !important;
		}

		.label {
			padding       : 4px 5px 3px;
			margin-left   : -7px;
			text-transform: uppercase;
		}
	}

	.navbar.navbar-fixed-top {
		transition-duration: 0s;
	}

	.search.input-group {
		margin: 56px 10px 10px;

		.input-group-addon {
			color                    : #8e8e8e;
			padding                  : 6px 6px 6px 12px;
			font-family              : FontAwesome;
			border                   : none !important;
			border-top-left-radius   : 5px;
			border-bottom-left-radius: 5px;
		}

		input {
			border                    : none;
			border-top-right-radius   : 5px;
			border-bottom-right-radius: 5px;
			padding-left              : 2px;
		}
	}
}
