.navigation-wrapper {
	.language-item > a:hover ~ .language-menu,
	.language-item:hover > .language-menu,
	.language-menu:hover {
		top    : 60px;
		right  : 150px;
		width  : 200px;
		display: block;

		li > a > i {
			line-height: inherit;
		}
	}

	.version {
		margin          : 10px -10px -10px;
		padding         : 3px 10px;
		background-color: #eee;

		a {
			color           : $indigo;
			margin          : 0 !important;
			padding         : 0 !important;
			background-color: inherit !important;
		}
	}
}
