@page {
   margin: 4mm;
}
@media print{

    .header{
        .center-on-xs{
            display: none;
        }
        #tagChoice,#prevWeek,#nextWeek{
            display: none;
        }
        #daysOfWeek{
            width: 130mm;
            margin-left: 0mm;
        }
    }

    .seven-cols{
        .col-xs{
            width: 40mm;
            display: table-cell;
            h2{
                font-size: 15px;
                text-align: center;
            }
        }
    }

    .footer{
        display: none;
    }

}