#shiftModal {
	.modal-body {
		padding: 30px;

		div.panel {
			&:last-of-type {
				margin-bottom: 0;
			}

			&.closed {
				border-color: #ccc;

				.panel-description,
				.panel-heading,
				.panel-heading a {
					color           : #555;
					border-color    : #ccc;
					background-color: #eee;
				}

				.panel-heading {
					border-bottom-color: #eee;
				}

				.panel-picture {
					border-color: #ccc;
				}

				.meeting-description,
				.meeting-wrapper {
					color           : #555 !important;
					border-color    : #ccc !important;
					background-color: #eee !important;
				}
			}

			.panel-heading a,
			.panel-heading a:focus,
			.panel-heading a:hover {
				color: #fff;
			}

			.panel-picture {
				text-align   : center;
				border-bottom: 1px solid $indigo;
				max-height   : 300px;
				overflow-y   : hidden;

				img {
					max-width: 100%;
				}
			}

			.panel-description {
				color           : $indigo;
				padding         : 5px;
				border-bottom   : 1px solid $indigo;
				background-color: rgba($indigo, 0.1);
			}

			.panel-meeting-points {
				width  : 100%;
				display: table;

				.meetings-description-wrapper,
				.meetings-wrapper {
					width  : 100%;
					display: table-row;

					&.meetings-wrapper {
						height: 150px;

						.meeting-wrapper {
							width         : 50%;
							vertical-align: middle;

							img {
								max-width: 100%;
								height   : 150px;
							}
						}
					}

					.meeting-description,
					.meeting-wrapper {
						display: table-cell;

						&:not(:last-child) {
							border-right: 1px solid $indigo;
						}

						&.meeting-description {
							color           : $indigo;
							height          : auto;
							padding         : 5px;
							border-top      : 1px solid $indigo;
							border-bottom   : 1px solid $indigo;
							background-color: rgba($indigo, 0.1);
						}
					}
				}
			}

			.panel-participants {
				padding  : 10px 15px;
				font-size: 14px;

				div.declined,
				div.participant,
				div.pending {
					color        : $indigo;
					cursor       : pointer;
					padding      : 5px 0;
					border-bottom: 1px dotted #ccc;

					&:last-of-type {
						border: none;
					}

					&.leading {
						text-decoration: underline;
					}

					&.leader {
						font-weight: 600;
					}

					a {
						color: inherit;
					}

					input[type='checkbox'] ~ label::before {
						outline: none !important;
					}
				}

				.dropdown-toggle {
					border-color: #eee;

					&:hover {
						border-color: #ddd;
					}

					&:active {
						box-shadow: rgba(0, 0, 0, 0.14902) 0 2px 5px 0 inset;
					}
				}

				.dropdown-menu li {
					border-left: 0;

					a {
						padding  : 5px 10px;
						font-size: 14px;
					}
				}
			}

			div.pending {
				color: $yellow !important;
			}

			div.declined {
				color          : $light-gray !important;
				text-decoration: line-through;
			}

			.userPopover {
				i {
					padding: 0 10px;
				}
			}
		}
	}
}

.roba-popover-envelope {
	z-index: 3040;

	.roba-popover {
		border-color : #3f51b5;
		width        : auto;
		overflow     : hidden;
		border-radius: 3px;
	}
}
