.tour.popover {
	.popover-title {
		padding         : 10px 14px;
		font-size       : 15px;
		border-bottom   : 0;
		background-color: #eee;
	}

	.btn-transparent {
		@extend .btn-white;
		margin-top      : 1px;
		margin-right    : 1px;
		background-color: transparent;
	}
}
