if hasUnderstaffedShifts
	ul.list-group
		each getUnderstaffedShifts
			a.shift-link(href="{{pathFor 'shifts' projectId=projectId language=langTag}}")
				li.list-group-item
					span.float-right
						span.label.label-primary.m-r-sm {{_ 'dashboard.understaffed'}}
						i.fa.fa-angle-double-right
					span.uss-date {{format date 'YYYYDDDD' 'dddd, DD.MM.YYYY'}}
					span.uss-time
						| {{format start 'Hmm' 'HH:mm'}}
						| {{_ 'time.to'}}
						| {{format end 'Hmm' 'HH:mm'}}
						| {{_ 'time.suffix'}}
