.project-wrapper.fake-project-wrapper.col-lg-6(class="{{centerFakeProject}}")
	.ibox
		.ibox-content
			h1.fake-header.m-b-md
			.news-wrapper.clearfix
				.news-content.fake-news
			.project-link-wrapper
				a.btn.btn-primary.project-link
					.fake-icon
					p.fake-icon-title
				a.btn.btn-primary.project-link
					.fake-icon
					p.fake-icon-title
				if isProjectShiftOrStoreAdmin this
					a.btn.btn-primary.project-link
						.fake-icon
						p.fake-icon-title
