.row.wrapper
	.col-lg-12
		.text-center.m-xl.p-xl
			h1 Error 404
			p Seems like we couldn't find what you requested. Sorry :-(
			a.btn.btn-sm.btn-primary(href="{{pathFor 'dashboard.details'}}") Go to dashboard
