h1 {{_ 'modal.shiftReport.publications'}}
table.table
  thead
    tr
      th {{_ 'modal.shiftReport.name'}}
      th {{_ 'modal.shiftReport.language'}}
      th {{_ 'modal.shiftReport.count'}}
      th {{_ 'modal.shiftReport.action'}}
  tbody
    if team.report.items
      each team.report.items
        tr
          td {{short}}
          td {{language}}
          td {{count}}
          td
            button.btn.btn-danger.btn-sm.btn-circle.deleteItem(title="{{_ 'modal.shiftReport.deleteItem'}}")
              i.fa.fa-trash-o
    else
      tr
        td(colspan="4") {{_ 'modal.shiftReport.noPublications'}}
.row
  .col-md-5
    label {{_ 'modal.shiftReport.name'}}
    select.form-control#item
      option(disabled selected) {{_ 'modal.shiftReport.select_publication'}}
      each availableItems projectId
        option(value="{{short}}") ({{short}}) {{getStorePublicationTranslation short}}
  .col-md-4
    label {{_ 'modal.shiftReport.language'}}
    select.form-control#language
      option(disabled selected) {{_ 'modal.shiftReport.selectPublicationFirst'}}
      each selectedItem.languages
        option(value="{{short}}") ({{short}}) {{getLanguageTranslation short}}
  .col-md-2
    label(for="count") {{_ 'modal.shiftReport.count'}}
    input.form-control#count(type="number" min="0")
  .col-md-1
    button.btn.btn-primary.btn-circle#reportAddItem(title="{{_ 'modal.shiftReport.addItem'}}")
      i.fa.fa-plus
.row.m-t-md
  .col-xs-12
    span.pull-right.text-danger {{_ 'modal.shiftReport.plusIconReminder'}}
