template(name="note.search")
  +SearchForm data=data

template(name="note.details")
  +DetailsForm data=data

template(name="note.update")
  +UpdateForm data=data

template(name="note.insert")
  +InsertForm data=data
