.container
  .row
    .col-sm-8.col-sm-offset-2
      .ibox-content
        .text-center.article-title
          h1 Privacy policy

        h2 Purpose
        p This privacy policy is intended to inform the users of this website about the nature, scope and purpose of the collection and use of personal data by the website operator [insert your contact details].
        p The website operator takes your privacy very seriously and treats your personal data confidentially and in accordance with the statutory provisions. As new technologies and the continuous development of this website may result in changes to this privacy policy, we recommend that you read through the privacy policy again at regular intervals.
        p Definitions of the terms used (e.g. "personal data" or "processing") can be found in Article 4 of the GDPR (General Data Protection Regulation). 

        h2 Access data
        p We, the website operator or page provider, collect data about accesses to the website on the basis of our legitimate interest (see Art. 6 para. 1 lit. f. GDPR) and store them as "server log files" on the website server. The following data is logged in this way:
        ul
          li Visited website
          li Time at the time of access
          li Amount of data sent in bytes
          li Source/reference from which you came to the site
          li Browser used
          li Operating system used
          li IP address used
        p The server log files are stored for a maximum of 7 days and then deleted. The data is stored for security reasons, e.g. to be able to clarify cases of abuse. If data must be retained for evidentiary reasons, it is exempt from deletion until the incident has been finally clarified.

        h2 Reach measurement & cookies
        p This website uses cookies for pseudonymized reach measurement, which are transmitted to the user's browser either by our server or the server of a third party. Cookies are small files that are stored on your terminal device. Your browser accesses these files. The use of cookies increases the user-friendliness and security of this website.
        p If you do not want cookies to be stored on your end device for range measurement, you can object to the use of these files here:
        ul
          li Cookie deactivation page of the network advertising initiative: 
            a(href="http://optout.networkadvertising.org/?c=1#!/") http://optout.networkadvertising.org/?c=1#!/
          li Cookie deactivation page of the US website:
            a(href="http://optout.aboutads.info/?c=2#!/") http://optout.aboutads.info/?c=2#!/
          li Cookie deactivation page of the European website:
            a(href="http://optout.networkadvertising.org/?c=1#!/") http://optout.networkadvertising.org/?c=1#!/
        p Popular browsers offer the setting option to not allow cookies. Note: It is not guaranteed that you will be able to access all functions of this website without restrictions if you set the appropriate preferences.

        h2 Collection and processing of personal data
        p The website operator collects, uses and discloses your personal data only if this is permitted by law or if you consent to the collection of such data. Personal data is any information that can be used to identify you and can be traced back to you - for example, your name, e-mail address and telephone number.
        p We process personal data such as first name, last name, IP address, e-mail address, telephone number, user name, assembly, foreign languages, gender, service privilege, office, availability, vacation and content information from the contact form.
        p We process personal data only with the express permission of the users concerned and in compliance with the applicable data protection regulations.
        p The processing of personal data is based on our legitimate interest to provide the shift allocators and project administrators with insight into who they allocate or have as participants in their project.

        h2 Handling of contact data
        p If you contact us as the website operator through the contact options offered, your details will be stored so that we can use them to process and respond to your request. This data will not be passed on to third parties without your consent.

        h2 Dealing with comments and contributions
        p If you leave a contribution or comment on this website, your IP address will be stored. This is done on the basis of our legitimate interests within the meaning of Art. 6 para. 1 lit. f. GDPR and serves the security of us as website operator: because if your comment violates applicable law, we can be prosecuted for it, which is why we have an interest in the identity of the comment or post author.

        h2 Google Analytics
        p This website uses the "Google Analytics" service on the basis of our legitimate interests in optimizing and analyzing our online offering within the meaning of Art. 6 (1) lit. f. GDPR the service "Google Analytics", which is offered by Google Inc. (1600 Amphitheatre Parkway Mountain View, CA 94043, USA). The service (Google Analytics) uses "cookies" - text files that are stored on your terminal device. The information collected by the cookies is usually sent to a Google server in the USA and stored there.
        p Google LLC complies with European data protection law and is certified under the Privacy Shield agreement:
          a(href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active") https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active
        p IP anonymization is used on this website. The IP address of the user is shortened within the member states of the EU and the European Economic Area and in the other contracting states of the agreement. Only in individual cases is the IP address initially transmitted unabbreviated to a Google server in the USA and shortened there. This shortening eliminates the personal reference of your IP address. The IP address of the user transmitted by the browser is not combined with other data stored by Google.
        p As part of the agreement on the order data agreement, which we as website operators have concluded with Google Inc., the latter uses the information collected to create an evaluation of website use and website activity and provides services associated with internet use.
        p The data collected by Google on our behalf is used to evaluate the use of our online offering by individual users, e.g. to create reports on website activity in order to improve our online offering.
        p You have the option of preventing cookies from being stored on your device by making the appropriate settings in your browser. It is not guaranteed that you can access all functions of this website without restrictions if your browser does not allow cookies.
        p Furthermore, you can use a browser plug-in to prevent the information collected by cookies (including your IP address) from being sent to and used by Google Inc. The following link will take you to the corresponding plugin:  https://tools.google.com/dlpage/gaoptout?hl=en
        p Here you can find more information about the use of data by Google Inc:
        ul
          li
            a(href="https://policies.google.com/privacy/partners?hl=en") https://policies.google.com/privacy/partners?hl=en
            | (data collected by Google- partners)
          li
            a(href="https://adssettings.google.com/authenticated") https://adssettings.google.com/authenticated
            | (settings about advertisements displayed to you)
          li
            a(href="https://policies.google.com/technologies/ads?hl=en") https://policies.google.com/technologies/ads?hl=en
            | (use of cookies in advertisements)

        h2 Rights of the user
        p As a user, you have the right, upon request, to receive free information about what personal data has been stored about you. You also have the right to have incorrect data corrected and to have your personal data processed restricted or deleted. If applicable, you may also exercise your right to data portability. If you believe that your data has been processed unlawfully, you may lodge a complaint with the competent supervisory authority.

        h2 Deletion of data
        p Unless your request conflicts with a legal obligation to retain data (e.g. data retention), you have a right to have your data deleted. Data stored by us will be deleted if it is no longer required for its intended purpose and there are no legal retention periods. If deletion cannot be carried out because the data is required for permissible legal purposes, data processing will be restricted. In this case, the data will be blocked and not processed for other purposes.

        h2 Right of objection
        p Users of this website may exercise their right to object to the processing of their personal data at any time.
        p If you wish to correct, block, delete or obtain information about the personal data stored about you, or if you have any questions regarding the collection, processing or use of your personal data, or if you wish to revoke any consent you have given, please contact us at the following email address: support@jwmanagement.org.

        p Source:
          a(href="https://www.datenschutz.org") https://www.datenschutz.org 
          | (English translation via DeepL.com)

        p.m-t-lg.text-center
          a(href="javascript:window.close()") Zurück / Back
