@import "../../../client/stylesheets/inspinia/custom/variables";

.signUp-wrapper {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  h1 {
    font-weight: 400;
    color: $indigo;
  }

  h2 {
    font-size: 18px;
  }

  label {
    font-weight: 400;
  }

  input {
    padding: 22px 12px;
    font-size: 18px;
    line-height: 18px;
  }
}
