.passwordBox.animated.fadeInDown
	.row
		.col-md-12
			.ibox-content
				h2.font-bold {{_ "forgotPassword.name"}}
				p {{_ "forgotPassword.text"}}
				.row
					.col-lg-12
						form.m-t
							.form-group
								input#email.form-control(type='email' placeholder='{{_ "input.email"}}' required autofocus)
							if multipleUsernames
								.form-group
									each multipleUsernames
										label
											input(type='radio' name='username' value='{{username}}' checked='{{isChecked @index}}')
											| {{name}} ({{username}})
							button#submit.ladda-button.btn.btn-primary.block.full-width.m-b(data-style='slide-down' type='submit') {{_ "forgotPassword.button"}}
	.dropdown.m-t.text-center
		+languageSwitch
	p.m-t.text-center
		a(href="{{pathFor 'login' language=langTag}}") {{_ "forgotPassword.back"}}
