template(name="InsertFormPassword")

  .section(class='{{getErrorClass}}')

    .section-header
      | {{getEntityTranslation getKey}}
      if isRequired
        | *

    .section-content
      .text-input
        input(type='password' placeholder='{{getEntityTranslation getKey}}' value='{{getValue}}')

    if hasError
      .section-error
        p {{getEntityErrorTranslation}}
