#addUserModal.modal.inmodal(tabindex='-1' aria-hidden='true')
	.modal-dialog.modal-md.animated.fadeInUp
		.modal-content
			.modal-header
				i.fa.fa-user-plus.modal-icon
				h2.m-b-none {{_ 'modal.addUser.title'}}
			.modal-body
				if isProjectAdmin
					form.form-horizontal
						.form-group
							label.col-sm-4.control-label {{_ "input.email"}}:
							.col-sm-6
								input#email.form-control(type='email' name='email' placeholder='{{_ "input.email"}}' autocomplete='off' spellcheck='off' required)
						if multipleUsernames
							.form-group
								label.col-sm-4.control-label {{_ 'modal.addUser.existingAccounts'}}:
								.col-sm-6
									each multipleUsernames
										#addExistingUser.btn.btn-primary.btn-block(userId='{{_id}}' username='{{username}}' title="{{_ 'modal.addUser.invite' name username}}")
											| {{_ 'modal.addUser.invite' name username}}
						.form-group
							label.col-sm-4.control-label {{_ "input.firstname"}}:
							.col-sm-6
								input.form-control(type='text' name='firstname' placeholder='{{_ "input.firstname"}}' required)
						.form-group
							label.col-sm-4.control-label {{_ "input.lastname"}}: 
							.col-sm-6
								input.form-control(type='text' name='lastname' placeholder='{{_ "input.lastname"}}' required)
						.form-group
							label.col-sm-4.control-label {{_ "profile.gender"}}
							.col-lg-6
								select.form-control.m-b(name="gender" )
									option(value='m') {{_ "profile._gender.brother"}}
									option(value='w') {{_ "profile._gender.sister"}}
						.row
							.col-sm-6.col-sm-offset-4
								button#addUser.btn.btn-primary.btn-block {{_ 'modal.addUser.action'}}
				else
					h2.center-align {{_ 'role.noPermission'}}
			.modal-footer
				if isProjectAdmin
					button#uploadUserFile.btn.btn-primary.pull-left {{_ 'modal.addUser.upload'}}
				button#close.btn.btn-white.pull-right(data-dismiss='modal') {{_ 'modal.close'}}
