.ibox
	.ibox-title
		h2 Navigation
	.ibox-content
		ol.dd-list
			li.dd-item
				.dd-handle Main
			li.dd-item
				.dd-handle Templates
				if templates
					ol.dd-list
						each templates
							li.dd-item
								.dd-handle {{name}}
			li.dd-item
				.dd-handle Tags
				if tags
					ol.dd-list
						each tags
							li.dd-item
								.dd-handle {{name}}
			li.dd-item
				.dd-handle Teams
				if teams
					ol.dd-list
						each teams
							li.dd-item
								.dd-handle {{name}}
			li.dd-item
				.dd-handle Meeting Points
				if meetingPoints
					ol.dd-list
						each meetingPoints
							li.dd-item
								.dd-handle {{name}}
			li.dd-item
				.dd-handle System Behaviour
				if tags
					ol.dd-list
						each tags
							li.dd-item
								.dd-handle {{name}}
