.container
	.row
		.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
			.ibox-content
				.text-center.article-title
					h1 {{_ 'about.title'}}
				h2 {{_ 'about.information'}}
				p
					| Marvin Zeising
					br
					| Kantstr. 12
					br
					| 40822 Mettmann
				h2 {{_ 'about.contact'}}
				p
					| {{_ 'about.telephone'}}: +49 177 3291529
					br
					| {{_ 'about.email'}}: support@jwmanagement.org
				.dropdown.m-t.text-center
					+languageSwitch
				p.m-t-lg.text-center
					a(href="{{pathFor 'welcome' language=langTag}}") {{_ 'about.back'}}
