#addWeekModal.modal.inmodal(tabindex='-1' aria-hidden='true')
	.modal-dialog.modal-sm.animated.fadeInUp
		.modal-content
			.modal-header
				i.fa.fa-calendar-plus-o.modal-icon
				h2.m-b-none {{_ 'modal.addWeek.title'}}
			.modal-body
				if isProjectShiftAdmin
					with getProject
						if noTemplate
							h3.center-align {{_ 'modal.addWeek.noTemplate'}}
							h3.center-align
								a(href='{{pathFor "settings" projectId=_id}}')
									| {{_ 'modal.addWeek.defineTemplate'}}
									i.fa.fa-angle-double-right
						else
							p {{_ 'modal.addWeek.text.top'}}
							#datepicker-week
							p.m-t {{_ 'modal.addWeek.text.bottom'}}
							.dropdown(tagId='{{tags.[0]._id}}' templateId='{{tags.[0].templates.[0]._id}}')
								button.btn.btn-white.btn-block.dropdown-toggle(data-toggle='dropdown' aria-expanded='false')
									span.m-r
										| {{tags.[0].name}}
										i.fa.fa-long-arrow-right.fa-fw
										| {{tags.[0].templates.[0].name}}
									span.caret.pull-right
								ul.dropdown-menu
									each tags
										each template in templates
											li
												a.changeTemplate(href tagId='{{_id}}' templateId='{{template._id}}')
													| {{name}}
													i.fa.fa-long-arrow-right.fa-fw
													| {{template.name}}
							button#addTemplateWeek.btn.btn-primary.btn-block.m-t {{_ 'modal.addWeek.action'}}
					else
						.sk-spinner.sk-spinner-pulse
				else
					h2.center-align {{_ 'role.noPermission'}}
			.modal-footer
				button#close.btn.btn-white.pull-right(data-dismiss='modal') {{_ 'modal.close'}}
