if isProjectShiftScheduler
	if getUser.thisTeamleader
		if getUser.teamleader
			b
				u {{getUser.name}} {{{getUserStatistics}}}
		else if substituteTeamleader
			i
				u {{getUser.name}} {{{getUserStatistics}}}
		else
			u {{getUser.name}} {{{getUserStatistics}}}
	else if getUser.teamleader
		b {{getUser.name}} {{{getUserStatistics}}}
	else if getUser.substituteTeamleader
		i {{getUser.name}} {{{getUserStatistics}}}
	else
		| {{getUser.name}} {{{getUserStatistics}}}
else if getUser.thisTeamleader
	u {{getUser.name}} {{{getUserStatistics}}}
else
	| {{getUser.name}} {{{getUserStatistics}}}
