if isProjectShiftAdmin
	if user.thisTeamleader
		if user.teamleader
			b
				u {{user.name}} {{getUserStatistics}}
		else if substituteTeamleader
			i
				u {{user.name}} {{getUserStatistics}}
		else
			u {{user.name}} {{getUserStatistics}}
	else if user.teamleader
		b {{user.name}} {{getUserStatistics}}
	else if user.substituteTeamleader
		i {{user.name}} {{getUserStatistics}}
	else
		| {{user.name}} {{getUserStatistics}}
else if user.thisTeamleader
	u {{user.name}} {{getUserStatistics}}
else
	| {{user.name}} {{getUserStatistics}}
