template(name="InsertFormDropdown")

  .section(class='{{getErrorClass}}')

    .section-header
      | {{getEntityTranslation getKey}}
      if isRequired
        | *

    .section-select
      select(name='{{getKey}}')
        with 'placeholder'
          option(value) {{getEntityTranslation getItemKey}}
        if isAllowedValues
          each getItems
            option(value='{{this}}') {{getEntityTranslation getItemKey}}
        else if isAllowedKeyValues
          each keyValue in getKeyValues
            option(value='{{keyValue.key}}') {{keyValue.value}}

    if hasError
      .section-error
        p {{getEntityErrorTranslation}}
