.navigation-wrapper
	nav.navbar.navbar-fixed-top
		a.navbar-back(href="{{getBackLink}}")
			i.fa.fa-angle-left.m-r-xs
			| {{_ 'navigation.back'}}
		.navbar-title {{getTitle}}

form.form-horizontal
	each section in getSections
		.section
			if section.header
				.section-header {{getDetailTranslation section.header}}
			.section-content
				each content in section.contents
					if isText content
						with content
							+InsertFormTextInput data=textInputData
					else if isDate content
						with content
							+InsertFormDateInput data=dateInputData
