.section(class='{{getErrorClass}}')
	.section-header {{getEntityTranslation getKey}}
	.section-content
		table.results-mobile
			each item in items
				a(href)
					tr
						th.left
						td.item
							span {{item}}
						td.link
							i.fa.fa-check
