.navigation-wrapper
	nav.navbar.navbar-fixed-top
		a.navbar-back(href="{{getBackLink}}")
			i.fa.fa-angle-left.m-r-xs
			| {{_ 'navigation.back'}}
		.navbar-title {{getTitle}}
		if isSaving
			.navbar-save
				i.fa.fa-circle-o-notch.fa-spin
		else
			a.navbar-save(href) {{_ 'navigation.save'}}

form.form-horizontal
	each field in getFields
		if isText field
			with field
				+InsertFormTextInput data=getInputData
		else if isDate field
			with field
				+InsertFormDateInput data=getInputData
		else if isDropdown field
			with field
				+InsertFormDropdownInput data=getInputData
