.section(class='{{getErrorClass}}')
	.section-header {{getEntityTranslation getKey}}
	.section-select
		input(type='checkbox' value='')
		| {{getEntityTranslation getKey}}
	if hasError
		.section-error
			p {{getEntityErrorTranslation}}
