.navigation-wrapper
	nav.navbar.navbar-fixed-top
		+navbarBrand(custom=true)

form.form-horizontal
	.section
		.section-header {{getTranslatedKey header}}
		.section-content
			.input.form-group
				.key {{getTranslatedKey key}}
				.value
					| {{getItemKeyValue key}}
					i.fa.fa-angle-right.icon
