.wrapper-content.animated.fadeInUp
	.container
		.row.m-b-lg.animated.fadeInUp
			if loading
				h1.center-align {{_ 'dashboard.loadingProjects'}}
			else if hasProjects
				h1.center-align {{_ 'dashboard.projects'}}
			else
				h1.center-align {{_ 'dashboard.noProjects'}}
		#projects.row.animated.fadeInUp
			unless loading
				each getProjects
					.row.m-n
						each projects
							+project project=this understaffedShifts=getUnderstaffedShifts
			else
				each getFakeProjects
					+projectFake
		.row.m-t-lg.m-b-lg.animated.fadeInUp
			if loading
				h1#myShifts.center-align {{_ 'dashboard.loadingShifts'}}
			else if getShifts.count
				h1#myShifts.center-align {{_ 'dashboard.shifts'}}
			else
				h1#myShifts.center-align {{_ 'dashboard.noShifts'}}
		.row.animated.fadeInUp
			#personalShiftsContainer.col-xs-12
				if getShifts.count
					#vertical-timeline.vertical-container.light-timeline.center-orientation
						each getShifts
							+request shift=this
					unless showOlder
						.center-align
							#showOlder.btn.btn-primary
								.fa.fa-chevron-down.fa-fw
								| {{_ "dashboard.showOlder"}}
