@import "../../styles/variables";
@import "../../styles/framework/import";

.home-wrapper {
	user-select        : none;
	-ms-user-select    : none;
	-moz-user-select   : none;
	-webkit-user-select: none;
}
