with user
	.row
		.col-sm-2
			.text-center
				with picture
					img.profile-picture(src='{{url}}' width='40' height='40')
				else
					.jdenticon {{{jdenticon size='65' hash=_id type='normal'}}}
		.col-sm-6
			h3 {{profile.firstname}} {{profile.lastname}}
			p
				unless equals profile.pioneer 'publisher'
					| {{getPrivilege profile.pioneer}}
					unless equals profile.privilege 'publisher'
						|, {{getPrivilege profile.privilege}}
				else
					| {{getPrivilege profile.privilege}}
			p
				if profile.bdate
					i.fa.fa-fw.fa-user.small
					| {{getAge profile.bdate}}
					br
				if profile.congregation
					i.fa.fa-fw.fa-home.small
					| {{profile.congregation}}
					br
				if profile.languages
					i.fa.fa-fw.fa-language.small
					| {{profile.languages}}
		.col-sm-4
			.row
				.col-sm-12
					h3 {{_ 'modal.shift.allocations'}}
			.row
				.col-sm-12
					p {{_ 'modal.shift.thisWeek'}}
					h1.m-t-n {{allocationsWeek}}
			.row
				.col-sm-12
					p {{_ 'modal.shift.lastDays' 90}}
					h1.m-t-n {{allocationsLast}}
