template(name="DetailsFormActions")

  each action in actions

    if isType action 'link'
      .m-sm
        a.btn.btn-block.p-xs(class='btn-{{action.style}}' href='{{getActionPath action}}') {{getEntityTranslation action.key}}

    else if isType action 'confirm'
      .m-sm
        .confirm-button.btn.btn-block.p-xs(class='btn-{{action.style}}' method='{{action.method}}' route='{{action.route}}' key='{{action.key}}')
          | {{getEntityTranslation action.key}}
