.container
	.row
		.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
			.ibox-content
				.text-center.article-title
					h1 Impressum

				h2 Angaben gemäß § 5 TMG:
				p
					| Marvin Zeising
					br
					| Kantstr. 12
					br
					| 40822 Mettmann

				h2 Kontakt:
				p
					| Telefon: +49 177 3291529
					br
					| E-Mail: marvin.zeising@gmail.com

				p.m-t-lg.text-center
					a(href="{{pathFor 'welcome' language='de'}}") Zur Startseite
