.col-md-2.col-xs-12.col-xs.center-on-xs
	.btn-group
		button#hideNames.btn.btn-white
			i.fa.fa-eye-slash
		button#showNames.btn.btn-primary
			i.fa.fa-eye
		if isProjectShiftAdmin
			button#editShifts.btn.btn-white
				i.fa.fa-wrench
	if isProjectShiftAdmin
		button#sendConfirmWeek.btn.btn-white
			i.fa.fa-send.fa-fw
			| {{_ 'shifts.sendWeek'}}
.col-md-offset-1.col-md-1.col-xs-2.col-xs
	button#prevWeek.btn.btn-primary.btn-block(class="{{prevWeekButton}}")
		i.fa.fa-chevron-left
.col-md-4.col-xs-8.col-xs
	button.btn.btn-primary.btn-block.week-chooser.dropdown-toggle(data-toggle='dropdown' aria-expanded='false')
		i.fa.fa-calendar-check-o.fa-fw
		span.m-r {{formatWeek 'showWeek'}}
		span.caret
	ul.dropdown-menu
		each weeks
			li(class="{{currentWeek}}")
				a.week-item(href)
					i.fa.fa-calendar-check-o.fa-fw
					| {{formatWeek this}}
		if isProjectShiftAdmin
			li.add-week
				a#addWeek(href)
					i.fa.fa-calendar-plus-o.fa-fw
					| {{_ 'shifts.addWeek'}}
.col-md-1.col-xs-2.col-xs.center
	button#nextWeek.btn.btn-primary.btn-block(class="{{nextWeekButton}}")
		i.fa.fa-chevron-right
.col-md-offset-1.col-md-2.col-xs-12.col-xs
	button.btn.btn-primary.btn-block.dropdown-toggle(data-toggle='dropdown' aria-expanded='false')
		i.fa.fa-tags
		| {{visibleTags}}
		span.caret
	ul.dropdown-menu.dropdown-menu-right.m-r-xs
		each tags
			if isTagParticipant _id
				if showTag
					li.tag-visible
						a(href)
							i.fa.fa-eye
							| {{name}}
				else
					li.tag-hidden
						a(href)
							i.fa.fa-eye-slash
							| {{name}}
