.home-wrapper {
	user-select        : none;
	-ms-user-select    : none;
	-moz-user-select   : none;
	-webkit-user-select: none;

	.news-content,
	h1 {
		user-select        : auto;
		-ms-user-select    : auto;
		-moz-user-select   : auto;
		-webkit-user-select: auto;
		word-wrap          : break-word;
	}

	.container-fluid {
		padding-left : 0;
		padding-right: 0;
	}

	.fake-project-wrapper {
		.fake-header {
			width           : 250px;
			height          : 27px;
			margin-top      : 8px;
			margin-bottom   : 23px;
			background-color: rgba(#333, 0.3);
		}

		.fake-news {
			width           : 110px;
			height          : 14px;
			margin-top      : 9px;
			margin-bottom   : 9px;
			background-color: rgba(#333, 0.3);
		}

		.project-link {
			.fake-icon {
				width           : 50px;
				height          : 40px;
				margin-top      : 10px;
				margin-left     : auto;
				margin-right    : auto;
				background-color: rgba(#fff, 0.7);
			}

			.fake-icon-title {
				width           : 80px;
				height          : 14px;
				margin-top      : 15px;
				margin-left     : auto;
				margin-right    : auto;
				background-color: rgba(#fff, 0.7);
			}
		}
	}

	.project-wrapper.show-tags-popup > .tags-popup {
		display: block;
	}

	.project-wrapper.show-tags-popup > .ibox {
		filter: blur(15px);
		-webkit-filter: blur(15px);
	}

	.project-wrapper .tags-popup {
		top             : 0;
		left            : 0;
		right           : 0;
		bottom          : 0;
		margin          : 0 15px 25px;
		display         : none;
		z-index         : 1000;
		padding         : 20px 5px;
		position        : absolute;
		overflow-y      : scroll;
		box-shadow      : 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
		background-color: rgba(255, 255, 255, .5);

		.close {
			top      : 0;
			right    : 0;
			color    : #000;
			padding  : 1px 5px;
			position : absolute;
			font-size: 20px;
		}

		.btn {
			width        : 150px;
			height       : auto;
			min-height   : 125px;
			box-shadow   : inset 0 0 0 darken($indigo, 6%), 0 5px 0 0 darken($indigo, 6%), 0 10px 5px #999;
			font-weight  : 300;
			margin-bottom: 5px;
			border-radius: 5px;
			@media(max-width: 768px) {
				width     : 130px;
				min-height: 120px;
			}

			p {
				margin     : 0;
				white-space: normal;
			}

			&:active {
				top          : 3px;
				box-shadow   : inset 0 0 0 darken($indigo, 6%), 0 2px 0 0 darken($indigo, 6%), 0 5px 3px #999;
				margin-top   : 3px;
				margin-bottom: 2px;
			}

			img {
				max-width : 100%;
				max-height: 80px;
			}

			i {
				margin-top   : 3px;
				margin-bottom: 6px;
			}
		}
	}

	.project-link-wrapper {
		margin-left : -15px;
		margin-right: -15px;
		text-align  : center;

		.project-link {
			width        : 150px;
			height       : 100px;
			font-weight  : 300;
			margin       : 0 10px 5px;
			border-radius: 5px;
			font-size    : 42px;
			box-shadow   : inset 0 0 0 darken($indigo, 6%), 0 5px 0 0 darken($indigo, 6%), 0 10px 5px #999;
			@media(max-width: 1200px) {
				width  : 120px;
				height : 100px;
				margin : 0 5px 5px;
				padding: 5px;
			}
			@media(max-width: 560px) {
				width  : 90px;
				height : 90px;
				margin : 0 5px 5px;
				padding: 5px;
			}
			@media(max-width: 350px) {
				width  : 85px;
				height : 85px;
				margin : 0 2px 5px;
				padding: 1px 5px;
			}
			@media(max-width: 320px) {
				width  : 80px;
				height : 80px;
				margin : 5px 2px 10px;
				padding: 0 5px 5px;
			}

			&:active {
				top          : 3px;
				box-shadow   : inset 0 0 0 darken($indigo, 6%), 0 2px 0 0 darken($indigo, 6%), 0 5px 3px #999;
				margin-top   : 3px;
				margin-bottom: 2px;
			}

			.project-link-caption {
				font-size     : 16px;
				margin        : 0;
				font-weight   : 300;
				letter-spacing: 1px;
				@media(max-width: 768px) {
					font-size: 12px;
				}
			}
		}
	}

	.news-wrapper {
		margin          : 20px -20px;
		padding         : 5px 20px;
		border-left     : 5px solid $indigo;
		background-color: #eee;

		.news-content {
			padding: 7px 0;
			cursor : default;
		}

		p {
			word-wrap: break-word;
		}

		.news-date {
			color     : #777;
			margin    : 5px 0 0;
			font-size : 11px;
			font-style: italic;
		}

		#cancelNews,
		#editNews {
			position: relative;
		}

		#editNews {
			margin-top: -5px;
		}
	}

	#news-textarea {
		width : 90%;
		resize: none;
	}

	.btn-green,
	.green-bg {
		color           : #fff;
		background-color: $green;
	}

	.text-green {
		color: $green;
	}

	.shift {
		&.missing {
			@extend .right;

			.vertical-timeline-icon {
				color           : #fff;
				background-color: $red;
			}

			.vertical-timeline-content div,
			.vertical-timeline-content h2,
			.vertical-timeline-content span {
				color: $red;
			}

			.shift-teams {
				.shift-team {
					color           : #602420;
					border          : 1px solid rgba($red, 0.3) !important;
					background-color: rgba($red, 0.05) !important;

					.shift-team-header {
						color           : #602420 !important;
						background-color: rgba($red, 0.3) !important;
					}
				}
			}

			.shift-participants {
				color           : #602420;
				border          : 1px solid rgba($red, 0.3);
				background-color: rgba($red, 0.05);
			}
		}

		&.approved {
			@extend .right;

			.vertical-timeline-icon {
				color           : #fff;
				background-color: $green;
			}

			.vertical-timeline-content div,
			.vertical-timeline-content h2,
			.vertical-timeline-content span {
				color: $green;
			}
		}

		&.pending {
			.vertical-timeline-icon {
				color           : #fff;
				background-color: $yellow;
			}

			.vertical-timeline-content div,
			.vertical-timeline-content h2,
			.vertical-timeline-content span {
				color: $yellow;
			}
		}

		&.declined {
			.vertical-timeline-icon {
				color           : #fff;
				background-color: $light-gray;
			}

			.vertical-timeline-content div,
			.vertical-timeline-content h2,
			.vertical-timeline-content span {
				color: $grey;
			}
		}

		.shift-teams {
			.shift-team.pending {
				color           : #604620;
				border          : 1px solid rgba($yellow, 0.3);
				background-color: rgba($yellow, 0.05);

				.shift-team-header {
					color           : #604620;
					background-color: rgba($yellow, 0.3);
				}
			}

			.shift-team.approved {
				color           : #206022;
				border          : 1px solid rgba($green, 0.3);
				background-color: rgba($green, 0.05);

				.shift-team-header {
					color           : #206022;
					background-color: rgba($green, 0.3);
				}
			}
		}

		.vertical-timeline-content {
			display: block;

			&:hover {
				box-shadow: 0 3px 7px 0 #a8a8a8;
			}

			&:active {
				box-shadow: inset 0 3px 5px rgba(#000000, 0.13);
			}

			.vertical-date {
				width : 100%;
				margin: 5px;

				small {
					color: $grey;
				}
			}

			h2 {
				margin: 0 0 5px;
			}

			.tag {
				color : $yellow;
				margin: 0 0 15px;
			}
		}

		.shift-teams .shift-team {
			width           : 100%;
			color           : #666;
			border          : 1px solid rgba(#ccc, 0.3);
			margin-top      : 5px;
			border-radius   : 3px;
			background-color: rgba(#ccc, 0.05);

			.shift-team-participants {
				padding    : 5px;
				white-space: normal;
			}

			.shift-team-header {
				color           : #666;
				padding         : 5px;
				background-color: rgba(#ccc, 0.3);
			}
		}
	}
}
