.welcome-wrapper {
	body {
		width      : 100%;
		height     : 100%;
		position   : relative;
		background : #fff;
		overflow-x : hidden;
		font-weight: 300;
		font-family: 'Open Sans', sans-serif;
	}

	section p a {
		color: $indigo;

		&:focus,
		&:hover {
			color: lighten($indigo, 3);
		}
	}

	.link-inverted {
		color: #fff;

		&:focus,
		&:hover {
			color: #ddd;
		}
	}

	.tm-white a {
		color: #fff;
	}

	p {
		line-height: 1.6em;
	}
	/* start h1 group */
	h1 {
		margin-top   : 0;
		margin-bottom: 25px;
	}

	h1,
	h2,
	h3,
	h4 {
		font-weight: bold;
	}
	/* end h1 group */
	/* img */
	img {
		height   : auto;
		max-width: 100%;
	}
	/* img */
	/* overlay */
	.overlay {
		width         : 100%;
		height        : 100%;
		background    : rgba(0, 0, 0, 0.4);
		padding-top   : 90px;
		padding-bottom: 90px;

		&.no-dim {
			background: transparent;
		}
	}
	/* overlay */
	/* start page container */
	@media (min-width: 768px) {
		.container {
			width: 700px;
		}
	}
	@media (min-width: 992px) {
		.container {
			width: 900px;
		}
	}
	@media (min-width: 1200px) {
		.container {
			width: 1000px;
		}
	}
	/* end page container */
	/* start navigation */
	.navbar-default {
		border    : none;
		margin    : 0 !important;
		background: #fff;
		box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);

		.navbar-brand {
			color      : $indigo;
			height     : 70px;
			font-size  : 30px;
			font-weight: bold;
			line-height: 35px;
		}

		.navbar-nav > .open > a {
			background-color: #fff;
		}

		.nav li {
			&.toApp {
				padding: 14px 5px 14px 10px;
				@media(max-width: 767px) {
					display     : inline-block;
					padding-left: 25px;

					a {
						padding: 5px 15px !important;
					}
				}

				a {
					color        : #fff;
					height       : auto;
					padding      : 0 15px;
					background   : $indigo;
					border-radius: 3px;

					&:focus,
					&:hover {
						color     : #fff;
						background: lighten($indigo, 3%) !important;
					}
				}
			}

			a {
				color      : #666;
				height     : 70px;
				font-size  : 13px;
				line-height: 40px;
				font-weight: bold;

				&:focus,
				&:hover {
					background-color: #fff !important;
				}
			}

			a.current,
			a:focus,
			a:hover {
				color: $indigo;
			}
		}

		.dropdown-menu li.dropdown-item a {
			height     : auto;
			margin     : 5px 0;
			line-height: 20px;
		}

		.navbar-toggle {
			border          : none;
			padding-top     : 20px;
			background-color: inherit;

			&:focus,
			&:hover {
				background-color: transparent;
			}

			.icon-bar {
				background  : $indigo;
				border-color: transparent;
			}
		}
	}
	/* end navigation */
	/* start home */
	#home {
		color              : #fff;
		width              : 100%;
		background         : url('/landing/blue-bg.jpg') no-repeat;
		margin-top         : 70px;
		text-align         : center;
		background-size    : cover;
		background-position: center;

		p {
			font-style : italic;
			font-weight: 400;
			line-height: 2em;
		}

		img {
			display   : inline-block;
			margin-top: 30px;
		}
	}
	/* end home */
	/* start divider */
	#divider {
		text-align    : center;
		padding-top   : 80px;
		padding-bottom: 80px;

		.fa {
			color        : $indigo;
			font-size    : 60px;
			margin-top   : 15px;
			margin-bottom: 15px;
		}

		h3 {
			font-size: 20px;
		}
	}
	/* end divider */
	/* start feature */
	.feature {
		padding-top   : 80px;
		padding-bottom: 80px;

		&.feature-inverted {
			background: #f8f8f8;
		}

		img {
			margin-left : auto;
			margin-right: auto;
		}

		p {
			padding-top: 10px;
		}

		span {
			float: left;
		}

		.fa {
			color        : #fff;
			width        : 40px;
			height       : 40px;
			display      : inline-block;
			background   : $indigo;
			text-align   : center;
			line-height  : 40px;
			margin-right : 20px;
			border-radius: 50%;
		}
	}
	/* end feature */
	/* start contact */
	#contact {
		color          : #fff;
		background     : url('/landing/blue-bg.jpg') no-repeat;
		background-size: cover;

		h2 {
			padding-bottom: 10px;
		}

		address {
			padding-top: 20px;

			.fa {
				width        : 40px;
				height       : 40px;
				text-align   : center;
				background   : $indigo;
				margin-top   : 6px;
				line-height  : 40px;
				margin-right : 10px;
				border-radius: 50%;
			}
		}

		.contact-form {
			padding-top: 40px;
		}

		.form-control {
			border       : none;
			box-shadow   : none;
			border-radius: 0;
			margin-bottom: 20px;
		}

		input[type="submit"] {
			color      : #fff;
			background : $indigo;
			transition : all 0.3s ease;
			font-weight: bold;
		}

		input[type="submit"]:hover {
			background: lighten($indigo, 3);
		}

		select {
			height          : 40px;
			background-color: #fff;
			color           : #222;
		}

		textarea {
			resize: vertical;
		}

		input,
		textarea {
			color : $text-color;
			height: 50px;
		}
	}
	/* end contact */
	/* start footer */
	footer {
		padding    : 20px;
		text-align : center;
		background : #fff;
		font-weight: 400;
	}
	/* end footer */
	@media screen and ( max-width: 767px ) {
		.navbar-default .nav li a {
			height     : auto;
			line-height: 2em;
		}

		.navbar-right {
			float: none;
		}

		#contact .overlay {
			padding-top: 40px;
		}
	}
}
