.profile-wrapper {
	user-select        : none;
	-ms-user-select    : none;
	-moz-user-select   : none;
	-webkit-user-select: none;

	.profile-info p {
		cursor: default;
	}

	.input-group-addon .fa {
		cursor: pointer;
	}

	.checkbox {
		margin-top   : 10px;
		margin-bottom: 30px;

		label {
			opacity     : 1;
			display     : block;
			padding-left: 5px !important;
		}
	}

	.profile-image {
		cursor: pointer;

		&:hover .profile-image-description {
			display: block;
		}

		img {
			box-shadow      : rgba(0, 0, 0, 0.137255) 0 2px 2px 0px, rgba(0, 0, 0, 0.2) 0 3px 1px -2px, rgba(0, 0, 0, 0.117647) 0 1px 5px 0;
			background-color: rgb(255, 255, 255);
		}

		.profile-image-description {
			top             : 74px;
			width           : 96px;
			height          : 22px;
			cursor          : pointer;
			display         : none;
			padding         : 2px;
			position        : absolute;
			text-align      : center;
			background-color: rgba(238, 238, 238, 0.85);
		}
	}

	.timetable {
		tbody > tr > td:not(.day):hover {
			cursor          : pointer;
			background-color: #eaeaea;
		}

		td {
			max-width: 25px;
		}

		.day {
			max-width: none;
		}

		.available {
			background-color: #3f51b5 !important;

			&:hover {
				background-color: darken(#3f51b5, 5) !important;
			}
		}
	}

	.input-daterange {
		margin-bottom: 20px;
	}

	.no-paddings {
		padding: 0;
	}
}
