#shiftModal .modal-dialog {
	animation-duration        : 0.5s;
	-webkit-animation-duration: 0.5s;
}

#addParticipantModal .list-group {
	background-color: #fff;
}

.hideNames {
	.shift-banner,
	.shift-declined-participants,
	.shift-footer,
	.shift-participants,
	.shift-pending-participants,
	.shift-teams {
		display: none;
	}

	#hideNames {
		@extend .btn-primary;
	}

	#showNames {
		@extend .btn-white;
	}
}

.editShifts {
	#showNames {
		@extend .btn-white;
	}

	#editShifts {
		@extend .btn-primary;
	}

	.template-settings-wrapper {
		@media(min-width: 993px) {
			text-align: right;
		}

		.dropdown {
			display: inline-block;
			@media(max-width: 768px) {
				display: block;

				&.open .dropdown-menu {
					display: table;
				}

				.btn {
					width: 100%;
				}
			}

			&.open .dropdown-menu {
				display: table;

				.datepicker {
					margin-left : auto;
					margin-right: auto;
				}
			}
		}
	}

	.shift,
	.shift:active,
	.shift:hover {
		color       : #fff;
		text-align  : left;
		border-color: #999 !important;

		.section-header {
			clear           : both;
			color           : #fff;
			padding         : 5px;
			text-align      : center;
			background-color: #999;

			p {
				margin     : 0;
				font-weight: 300;
			}
		}

		.section {
			border          : 1px solid #ccc;
			background-color: #f3f3f3;
			border-radius   : 3px;
		}

		.shift-header {
			padding         : 5px;
			text-align      : center;
			background-color: #999;

			button {
				background-color: transparent;
				border          : 0;
				padding         : 0;
				margin-top      : -2px;

				i {
					color        : #fff;
					border       : 1px solid #fff;
					padding      : 3px;
					border-radius: 3px;
				}
			}

			h3 {
				cursor     : pointer;
				margin     : 0;
				padding    : 5px;
				font-weight: 300;
			}
		}

		.section,
		.shift-body {
			color  : $grey;
			padding: 10px;

			> h4 {
				font-weight: 400;
			}

			hr,
			p {
				clear        : both;
				margin       : 0 0 3px;
				overflow     : hidden;
				white-space  : nowrap;
				text-overflow: ellipsis;
			}

			hr:last-of-type {
				display: none;
			}
		}
	}

	#showNames {
		@extend .btn-white;
	}

	.separator {
		padding: 20px 0 !important;
	}
}

.shifts-wrapper {
	user-select        : none;
	-ms-user-select    : none;
	-moz-user-select   : none;
	-webkit-user-select: none;
	background-color   : white;

	.shift,
	h1,
	h2,
	h3 {
		user-select        : auto;
		-ms-user-select    : auto;
		-moz-user-select   : auto;
		-webkit-user-select: auto;
	}

	.datepicker {
		.datepicker-days tbody tr:hover {
			background-color: #eee;
		}

		tbody {
			tr td.active,
			tr:hover td {
				border-radius: 0;
			}

			tr td.active:last-child,
			tr:hover td:last-child {
				border-radius: 0 3px 3px 0;
			}

			tr td.active:first-child,
			tr:hover td:first-child {
				border-radius: 3px 0 0 3px;
			}
		}
	}

	span.caret.pull-right {
		margin: 8px 0 8px 8px;
	}

	.center-on-xs {
		@media(max-width: 768px) {
			text-align: center;
		}
	}

	.header {
		.btn {
			overflow-x   : hidden;
			margin-bottom: 5px;

			&:active {
				box-shadow: inset 0 3px 5px rgba(#000000, 0.13);
			}
		}

		.dropdown-menu {
			max-height: 260px;
			overflow-x: hidden;

			li a {
				overflow-x   : hidden;
				text-overflow: ellipsis;
				padding-right: 5px;
			}
		}
	}

	.template-content {
		@media(max-width: 450px) {
			.week-chooser ~ .dropdown-menu {
				margin-left: -15px;
			}
		}

		.dropdown-menu {
			color      : $text-color;
			margin-left: 15px;

			li {
				border-left              : 5px solid #fff;
				border-top-left-radius   : 0;
				border-bottom-left-radius: 0;

				&:hover {
					border-left: 5px solid #aaa;

					a {
						color           : $text-color;
						background-color: #f0f0f0;
					}
				}

				&.active {
					border-left: 5px solid $indigo;
				}

				&.header {
					border: none;
				}

				a {
					color           : $text-color;
					font-size       : 16px;
					font-weight     : 300;
					padding-left    : 15px;
					background-color: #fff;

					&#addWeek {
						color: #777;
					}
				}
			}
		}
	}

	.open > .dropdown-toggle.btn-primary {
		&:focus,
		&:hover {
			border-color    : $indigo;
			background-color: $indigo;
		}
	}

	.today {
		color: $indigo;
	}

	.day-wrapper {
		padding-top: 20px;

    .shift:last-of-type + .separator,
		.wrongTag + .separator {
			display: none;
		}

		.shift,
		.shift:active,
		.shift:focus,
		.shift:hover {
			border          : 1px solid $indigo;
			padding         : 0;
			background-color: white;

			&:hover:not(:active) {
				box-shadow: 0 3px 7px 0 #a8a8a8;
			}

			&:active .shift-period {
				box-shadow: inset 0 3px 5px rgba(#000000, 0.13);
			}

			&.approved {
				border-color: $green;

				.shift-period {
					background-color: $green;
				}

				.shift-banner,
				.shift-footer {
					color           : $green;
					background-color: rgba($green, 0.2);
				}

				.shift-banner,
				.shift-participants,
				.shift-teams {
					border-color: $green;

					.shift-team {
						color           : #206022 !important;
						border          : 1px solid rgba($green, 0.3) !important;
						background-color: rgba($green, 0.05) !important;

						.shift-team-header {
							color           : #206022 !important;
							background-color: rgba($green, 0.3) !important;
						}
					}
				}
			}

			&.pending {
				border-color: $yellow;

				.shift-period {
					background-color: $yellow;
				}

				.shift-banner,
				.shift-footer {
					color           : $yellow;
					background-color: rgba($yellow, 0.2);
				}

				.shift-banner,
				.shift-participants,
				.shift-teams {
					border-color: $yellow;

					.shift-team {
						color           : #604620 !important;
						border          : 1px solid rgba(#ff9800, 0.3) !important;
						background-color: rgba(#ff9800, 0.05) !important;

						.shift-team-header {
							color           : #604620 !important;
							background-color: rgba(#ff9800, 0.3) !important;
						}
					}
				}
			}

			&.closed {
				border: 1px solid $light-gray;

				.shift-period {
					color           : #fff;
					border-bottom   : 1px solid $light-gray;
					padding-bottom  : 9px;
					background-color: $light-gray;
				}

				.shift-banner,
				.shift-footer {
					color           : $grey;
					background-color: transparent;
				}

				.shift-banner,
				.shift-participants,
				.shift-teams {
					border-color: $light-gray;
				}
			}

			&.noAdmin .shift-team.closed {
				color: #777;
			}

			.shift-period {
				color           : white;
				cursor          : pointer;
				margin          : 0;
				padding         : 10px;
				font-weight     : 400;
				background-color: $indigo;
			}

			.shift-banner {
				color           : $indigo;
				border          : none;
				padding         : 1px 10px 2px;
				font-size       : 11px;
				text-align      : left;
				background-color: rgba($indigo, 0.2);
			}

			.shift-teams {
				padding   : 0 5px;
				border-top: 1px solid $indigo;

				.shift-team {
					width           : 100%;
					color           : #202960;
					border          : 1px solid rgba($indigo, 0.3);
					text-align      : left;
					margin-top      : 5px;
					border-radius   : 3px;
					background-color: rgba($indigo, 0.05);

					&:last-of-type {
						margin-bottom: 5px;
					}

					&.closed {
						border          : 1px solid #eee;
						background-color: #fff;

						.shift-team-header {
							color           : #999;
							background-color: #eee;
						}
					}

					.shift-team-header {
						color           : #202960;
						padding         : 1px 0 1px 5px;
						white-space     : normal;
						background-color: rgba($indigo, 0.3);
					}

					.shift-team-information,
					.shift-team-participants,
					.shift-team-pendings {
						padding    : 1px 5px;
						white-space: normal;
					}

					.shift-team-pendings {
						color: $yellow;
					}
				}
			}

			.shift-footer {
				color           : $indigo;
				margin          : 0;
				padding         : 5px;
				word-wrap       : break-word;
				white-space     : normal;
				border-color    : inherit;
				border-top-width: 1px;
				border-top-style: solid;
				background-color: rgba($indigo, 0.2);
			}

			.shift-declined-participants,
			.shift-pending-participants {
				padding         : 5px 10px;
				text-align      : left;
				white-space     : normal;
				border-color    : inherit;
				border-top-width: 1px;
				border-top-style: solid;
				background-color: transparent;
			}

			.shift-declined-participants {
				color          : $light-gray;
				text-decoration: line-through;
			}

			.shift-pending-participants {
				color: darken($yellow, 3%);
			}
		}

		.separator {
			color     : #333;
			padding   : 5px 0;
			text-align: center;
		}
	}
}
