.store-wrapper {
	.store-mode-wrapper {
		div.col-xs-12:first-of-type {
			border-right: 1px solid #eee;
			@media(max-width: 768px) {
				border-right : 0;
				border-bottom: 1px solid #eee;
			}
		}

		.store-mode {
			margin    : 80px;
			text-align: center;
			@media(max-width: 1200px) {
				margin: 40px;
			}
			@media(max-width: 992px) {
				margin: 20px;
			}

			.description {
				color        : #777;
				text-align   : justify;
				min-height   : 120px;
				margin-bottom: 40px;
			}

			button {
				margin-left : auto;
				margin-right: auto;
				@media(max-width: 768px) {
					margin-bottom: 20px;
				}
			}
		}
	}

	.list-group-item .fa-trash {
		margin-top  : -2px;
		margin-right: -5px;
	}

	.forum-item-title {
		display: inline-block;
	}

	div.forum-section:not(:last-of-type) {
		margin-bottom: 50px;
	}
}
