.vessels-wrapper {
	.relative {
		position: relative;
	}

	.ibox-loading-overlay {
		top             : 0;
		left            : -15px;
		right           : 0;
		bottom          : 0;
		margin          : 0 15px 25px;
		height          : 100%;
		width           : 100%;
		z-index         : 1000;
		padding         : 20px 5px;
		position        : absolute;
		background-color: rgba(255, 255, 255, 0.75);
	}

	.loading-icon {
		color     : $indigo;
		text-align: center;
		margin-top: 50px;
		font-size : 40px;
	}
}
