body.md-skin.gray-bg[page='vessels'] {
	background-color: #fff !important;
	padding-top     : 100px;

	.navbar {
		box-shadow: none;
	}
}

.vessels-wrapper {
	height: 100%;

	.relative {
		position: relative;
	}

	.ibox-loading-overlay {
		top             : 0;
		left            : -15px;
		right           : 0;
		bottom          : 0;
		margin          : 0 15px 25px;
		height          : 100%;
		width           : 100%;
		z-index         : 1000;
		padding         : 20px 5px;
		position        : absolute;
		background-color: rgba(255, 255, 255, 0.75);
	}

	.loading-icon {
		color     : $indigo;
		text-align: center;
		margin-top: 50px;
		font-size : 40px;
	}

	.footer {
		display: none;
	}

	.search-title {
		background-color: #e8e8e8;
		font-size       : 14px;
		padding         : 6px 10px;
		color           : #777;
	}

	.results-desktop {
		@media(max-width: 759px) {
			display: none !important;
		}
	}

	.results-mobile {
		@media(min-width: 760px) {
			display: none;
		}

		tr td,
		tr th {
			cursor    : pointer;
			padding   : 10px 15px;
			font-size : 15px;
			text-align: left;

			b,
			span {
				display    : block;
				margin     : 3px 0;
				line-height: 1;

				&:empty {
					content: " ";
				}
			}
		}

		tr td {
			//padding-left: 0;
		}
	}
}
