.wiki-wrapper {
	.note-editor.fullscreen {
		top: 50px;
	}

	.note-group-select-from-files {
		display: none;
	}

	.tabs-container {
		.nav-tabs {
			margin-bottom: 15px;
			border-color : #fff;
			border-bottom: 5px solid #fff;
			@media(max-width: 768px) {
				border-bottom: 1px solid #ccc;

				a {
					margin: 0;
					border: 1px solid #ccc !important;
				}
			}

			li {
				border-bottom      : 1px solid #fff;
				border-bottom-color: inherit;

				a {
					color        : #aaa;
					padding      : 8px 15px 8px 20px;
					font-size    : 14px;
					font-weight  : 500;
					line-height  : 34px;
					border       : 1px solid #dedede;
					border-bottom: 0 !important;

					&:hover {
						color: #666;
					}

					.option {
						border          : 0;
						margin-left     : 10px;
						padding         : 0;
						background-color: transparent;

						i {
							margin: 0;
						}
					}

					.dropdown-menu {
						border-radius: 3px;

						li {
							a {
								font-size  : 16px;
								font-weight: 300;
								padding    : 7px 20px;
							}

							a:hover {
								color           : #262626;
								background-color: #f5f5f5;
							}
						}
					}
				}
			}

			li.active a,
			li.active a:focus,
			li.active a:hover {
				color       : #333;
				border-color: #cecece;
				background  : #fff;
				margin-right: 0;
			}
		}

		.tab-content {
			background-color: transparent;

			.faq-item {
				margin-bottom: 5px;
				border-radius: 3px;

				.faq-question {
					display    : inline;
					line-height: 30px;
				}

				.editQuestion {
					margin-top : -3px;
					margin-left: 5px;
				}

				button.btn + button.btn {
					margin-left: 5px;
				}

				.collapsed ~ .editFaq {
					display: none;
				}

				.content {
					margin-top: 5px;
				}

				.note-editor {
					border    : 0;
					margin-top: 5px;
					min-height: 0;
				}
			}

			.btn-success {
				background-color: $green;
				border          : 0;

				&:hover {
					background-color: darken($green, 3);
					border          : 0;
				}
			}

			.addQuestion {
				margin-top: 10px;
			}
		}
	}

	div.file-box {
		float: inherit;
		width: auto;

		&:first-of-type {
			margin-top: 10px;
		}

		&:last-of-type .file {
			margin-bottom: 0;
		}

		.file {
			margin-right: 0;

			a {
				color: #000;

				button {
					border          : 0;
					padding         : 0;
					margin-left     : 10px;
					background-color: transparent;
				}
			}

			.dropdown-menu {
				border-radius: 3px;
				font-size    : 13px;

				li a {
					padding-left : 15px;
					padding-right: 15px;
				}
			}
		}
	}
}
