.welcome-wrapper
	nav.navbar.navbar-default.navbar-fixed-top.my-nav(role='navigation')
		.container
			.navbar-header
				button.navbar-toggle(data-toggle='collapse' data-target='.navbar-collapse')
					span.icon.icon-bar
					span.icon.icon-bar
					span.icon.icon-bar
				a.navbar-brand(href="https://www.jwmanagement.org") JW Management
			.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right.text-uppercase
					li
						a(href='#home') {{_ 'welcome.links.home'}}
					li
						a(href='#divider') {{_ 'welcome.links.features'}}
					li
						a(href='#contact') {{_ 'welcome.links.contact'}}
					li
						+languageSwitch
					li.toApp
						if currentUser
							a#toDashboard(href) {{_ 'welcome.links.dashboard'}}
						else
							a#toLogin(href) {{_ 'welcome.links.login'}}
	section#home
		.overlay.no-dim
			.container
				.row
					.col-md-1
					.col-md-10.wow.fadeIn
						h1.text-upper {{_ 'welcome.header.title'}}
						p.tm-white  {{_ 'welcome.header.description'}}
						img.img-responsive(src='/img/shifts.png' alt='home img')
					.col-md-1
	section#divider
		.container
			.row
				.col-md-3.wow.fadeInUp
					i.fa.fa-tag
					h3.text-uppercase {{_ 'welcome.divider.first.title'}}
					p {{_ 'welcome.divider.first.description'}}
				.col-md-3.wow.fadeInUp
					i.fa.fa-users
					h3.text-uppercase {{_ 'welcome.divider.second.title'}}
					p {{_ 'welcome.divider.second.description'}}
				.col-md-3.wow.fadeInUp
					i.fa.fa-cubes
					h3.text-uppercase {{_ 'welcome.divider.third.title'}}
					p {{_ 'welcome.divider.third.description'}}
				.col-md-3.wow.fadeInUp
					i.fa.fa-envelope
					h3.text-uppercase {{_ 'welcome.divider.fourth.title'}}
					p {{_ 'welcome.divider.fourth.description'}}
	section#feature1.feature.feature-inverted
		.container
			.row
				.col-sm-6.wow.fadeInRight
					img.img-responsive(src='/img/multifunctional.png' alt='multifunctional img' style="max-height:300px;")
				.col-sm-6.wow.fadeInLeft
					h2.text-uppercase {{_ 'welcome.feature1.title'}}
					| {{{_ 'welcome.feature1.description'}}}
	section#feature2.feature
		.container
			.row
				.col-sm-6.col-sm-push-6.wow.fadeInLeft
					img.img-responsive(src='/img/light-bulb.png' alt='light bulb img' style="max-height:300px;")
				.col-sm-6.col-sm-pull-6.wow.fadeInRight
					h2.text-uppercase.m-b {{_ 'welcome.feature2.title'}}
					each latestReleases
						.row
							.col-xs-2
								span {{tag}}
							.col-xs-10
								ul
									each body
										if this
											li {{{this}}}
					.center-align.m-t
						a(href='https://github.com/JWDeveloper/JWManagement/releases' target='_blank') {{_ 'welcome.feature2.more'}}
	section#feature3.feature.feature-inverted
		.container
			.row
				.col-sm-6.wow.fadeInLeft
					img.img-responsive(src='/img/product.png' alt='open-source img' style="max-height:300px;")
				.col-sm-6.wow.fadeInRight
					h2.text-uppercase {{_ 'welcome.feature3.title'}}
					| {{{_ 'welcome.feature3.description'}}}
					p
						i.fa.fa-credit-card-alt
						| {{_ 'welcome.feature3.free'}}
					p
						i.fa.fa-code
						a(href="https://github.com/JWDeveloper/JWManagement")
							| {{_ 'welcome.feature3.repo'}}
	Changelog
	section#contact
		.overlay
			.container
				.row
					.col-md-6.wow.fadeInUp
						h2.text-uppercase {{_ 'welcome.contact.title'}}
						| {{{_ 'welcome.contact.description'}}}
					.col-md-6.wow.fadeInUp
						.contact-form
							form#contactForm
								unless equals selectedType ''
									unless equals selectedType 'issue'
										unless equals selectedType 'login'
											.col-md-6
												input#name.form-control(type='text' placeholder='{{_ "welcome.contact.name"}}' required)
											.col-md-6
												input#email.form-control(type='email' placeholder='{{_ "welcome.contact.email"}}' required)
								.col-md-12
									select#type.form-control
										option(type='') {{_ "welcome.contact.chooseType"}}
										option(type='question') {{_ "welcome.contact.question"}}
										option(type='login') {{_ "welcome.contact.login"}}
										option(type='issue') {{_ "welcome.contact.problem"}}
										option(type='issue') {{_ "welcome.contact.suggestion"}}
										option(type='enquiry') {{_ "welcome.contact.enquiry"}}
								if equals selectedType 'login'
									.col-md-12
										p.m-b-lg {{_ 'welcome.contact.loginTip'}}
									.col-md-8
										a.submit.btn.btn-block.text-uppercase(href='{{pathFor "forgot" language="{{langTag}}"}}')
											| {{_ 'welcome.contact.toForgotPassword'}}
											i.fa.fa-angle-double-right.fa-fw
								else if equals selectedType 'issue'
									.col-md-12
										p.m-b-lg {{_ 'welcome.contact.issueTip'}}
									.col-md-8
										a.submit.btn.btn-block.text-uppercase(href='//github.com/JWDeveloper/JWManagement/issues' target='blank')
											| {{_ 'welcome.contact.toGithub'}}
											i.fa.fa-angle-double-right.fa-fw
								else if equals selectedType 'enquiry'
									.col-md-12
										input#congregation.form-control(type='congregation' placeholder='{{_ "welcome.contact.congregation"}}' required)
									.col-md-12
										textarea#message.form-control(placeholder='{{_ "welcome.contact.message"}}' rows='4' required)
									.col-md-8
										input.submit.form-control.text-uppercase(type='submit' value='{{_ "welcome.contact.sendEnquiry"}}')
								else if equals selectedType 'question'
									.col-md-12
										textarea#message.form-control(placeholder='{{_ "welcome.contact.message"}}' rows='4' required)
									.col-md-8
										input.submit.form-control.text-uppercase(type='submit' value='{{_ "welcome.contact.send"}}')
				.row.center-align.m-t-xl
					.col-xs-12.wow.fadeInUp
						a.link-inverted(href='{{pathFor "about" language=langTag}}') {{_ "welcome.contact.about"}}
						| |
						a.link-inverted(href='{{pathFor "terms" language=langTag}}') {{_ "welcome.contact.terms"}}
						| |
						a.link-inverted(href='{{pathFor "privacy" language=langTag}}') {{_ "welcome.contact.privacy"}}
						| |
						a.link-inverted(href='{{pathFor "donate" language=langTag}}') {{_ "navigation.donate"}}
