if queryParam 'addUser'
	+addUserModal
if queryParam 'editUser'
	+editPermissionsModal
if queryParam 'inviteUser'
	+inviteUserModal
if queryParam 'uploadUserFile'
	+uploadUserFileModal
.wrapper-content.animated.fadeInUp
	.container
		.row
			.col-lg-12
				.row.m-b-lg
					.col-xs-12
						if isProjectAdmin
							h2.center-align.m-t-xs.m-b-none {{_ 'users.title'}}
						else
							h2.center-align {{_ 'role.noPermission'}}
				if isProjectAdmin
					.ibox
						.ibox-content
							table#userTable.table.table-stripped
								.sk-spinner.sk-spinner-pulse
							.row.m-b-sm
								.col-xs-12
									button.btn.btn-primary.inline#addNewUser
										i.fa.fa-user-plus
										| {{_ 'users.addNewUser'}}
									button.btn.btn-primary.inline#inviteUser
										i.fa.fa-send
										| {{_ 'users.inviteUser'}}
									button.btn.btn-primary.inline.pull-right.m-r-sm#exportUsers
										i.fa.fa-download
										| {{_ 'users.export'}}
							.row
								.col-xs-12
									a.btn.btn-primary.inline(href="mailto:?bcc={{allMails}}")
										i.fa.fa-send
										| {{_ 'users.sendToAll'}}
									each getTags
										a.btn.btn-primary.inline.m-r-xs(href="mailto:?bcc={{allMailsThisTag}}")
											i.fa.fa-send
											| {{_ 'users.sendToAllInTag' name}}
