.wrapper-content.animated.fadeInUp
	.container
		each btn in buttons
			unless btn.comingSoon
				if isInRole btn.role getProjectId
					a(href="{{pathFor btn.route projectId=getProjectId language=langTag}}")
						.col-md-3.col-xs-4.btn-wrapper
							.btn-inverted
								i(class="fa fa-5x fa-{{btn.icon}}")
								h2 {{name btn.route}}
	.container
		.row.m-t-lg
			hr
			p
				| We are planning to develop a mobile app.
				br
				| Do you know someone with knowledge of C# (maybe even Xamarin) that would be willing to spend a few hours a week helping us?
				br
				| Please tell us via support@jwmanagement.org.
				br
				| Thank you very much!
			hr
			p
				| Wir planen die Programmierung einer Smartphone-App.
				br
				| Kennst du jemanden mit Erfahrung in C# (vielleicht sogar Xamarin), der bereit wäre, uns ein paar Stunden die Woche zu helfen?
				br
				| Bitte schreib uns über support@jwmanagement.org.
				br
				| Vielen herzlichen Dank!
