.wrapper-content.animated.fadeInUp
	.container
		each btn in buttons
			unless btn.comingSoon
				if isInRole btn.role getProjectId
					a(href="{{pathFor btn.route projectId=getProjectId language=langTag}}")
						.col-md-3.col-xs-4.btn-wrapper
							.btn-inverted
								i(class="fa fa-5x fa-{{btn.icon}}")
								h2 {{name btn.route}}
	.container
		p.m-t-lg NEWS: Please know that understaffed-mails will from now on only be sent to users who have set their "I can be contacted in the short term" option on their profile page.
