.wrapper-content.animated.fadeInUp
	.container
		each btn in buttons
			if btn.comingSoon
				.col-md-3.col-xs-4.btn-wrapper
					.btn-inverted(style="background-color:white;color:#3f51b5;")
						i(class="fa fa-5x fa-{{btn.icon}}")
						h2 Coming soon
			else if isInRole btn.role getProjectId
				a(href="{{pathFor btn.route projectId=getProjectId language=langTag}}")
					.col-md-3.col-xs-4.btn-wrapper
						.btn-inverted
							i(class="fa fa-5x fa-{{btn.icon}}")
							h2 {{name btn.route}}
			else
				.col-md-3.col-xs-4.btn-wrapper
					.btn-inverted(style="background-color:white;color:#3f51b5;")
						i(class="fa fa-5x fa-{{btn.icon}}")
						h2 {{_ 'role.noPermission'}}
