.wrapper-content.animated.fadeInUp
	.container
		each btn in buttons
			unless btn.comingSoon
				if dependenciesMatched btn.dependency
					if isInRole btn.role getProjectId
						a(href="{{pathFor btn.route projectId=getProjectId language=langTag}}")
							.col-md-3.col-xs-4.btn-wrapper
								.btn-inverted
									i(class="fa fa-5x fa-{{btn.icon}}")
									h2 {{name btn.route}}
