.ibox.animated.fadeInUp
	.ibox-title
		h2.animated.fadeInUp {{_ 'profile.options.title'}}
		.text-muted.m-t {{_ 'profile.options.helpText'}}
	.ibox-content
		#changePassword.btn.btn-rounded.btn-primary.m-r {{_ "profile.changePassword"}}
		#deleteAccount.btn.btn-rounded.btn-danger {{_ "profile.deleteAccount"}}	
