.navigation-wrapper
	nav.navbar.navbar-fixed-top
		+navbarBrand(custom=true)

form.form-horizontal
	if isLoading
		.center-align
			i.fa.fa-circle-o-notch.fa-spin
	else if noResult
		.center-align
			h2 Oops!
			p We couldn't find anything.
			button#back.btn.btn-primary Go back
	else
		each sections
			.section
				.section-header {{getTranslatedKey header}}
				.section-content
					each contents
						.input.form-group(key='{{key}}')
							.key {{getTranslatedKey key}}
							.value
								| {{getItemKeyValue key}}
								i.fa.fa-angle-right.icon
