@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import "custom/variables";
@import "framework/typography";
@import "framework/navigation";
@import "framework/top-navigation";
@import "framework/buttons";
@import "framework/badgets-labels";
@import "framework/elements";
@import "framework/base";
@import "framework/pages";
@import "framework/spinners";
@import "framework/md-skin";
@import "framework/media";
@import "custom/datepicker";
@import "custom/seven-cols";
@import "custom/corrections";
@import "custom/custom";
@import "custom/navigation";
@import "custom/shiftModal";
@import "custom/shiftReport";
@import "custom/shiftsHeader";
@import "custom/editShiftModal";
@import "custom/editPermissionsModal";
@import "custom/addWeekModal";
@import "custom/editPictureModal";
@import "custom/printingLayout";
@import "custom/checkbox";
@import "pages/dashboard";
@import "pages/profile";
@import "pages/shifts";
@import "pages/reports";
@import "pages/store";
@import "pages/wiki";
@import "pages/project";
@import "pages/users";
@import "pages/settings";
@import "pages/login";
@import "pages/firstLogin";
@media print {
	#page-wrapper {
		margin: 0;
	}
}
