.bar.bar-header.bar-stable.nav-bar-block.nav-bar-direction-forward(class='nav-bar-transition-{{transition}}')
	if target
		button.button.buttons.button-clear.back-button.pull-left.button-entering.button-active
			i.icon.ion-ios-arrow-back
			span.back-text Back
		h1.title.title-entering.title-center.title-active {{name}}
	else if name
		h1.title.title-entering.title-center.title-active {{name}}
	else
		h1.title.title-entering.title-center.title-active JWManagement
