.navigation-wrapper
	nav.navbar.navbar-fixed-top
		a.navbar-back(href="{{getBackLink}}")
			i.fa.fa-angle-left.m-r-xs
			| {{_ 'navigation.back'}}
		.navbar-title {{getTitle}}

form.form-horizontal
	if isLoading
		.loading
			i.fa.fa-circle-o-notch.fa-spin.fa-3x
	else if noResult
		.center-align
			h2 Oops!
			p We couldn't find anything.
			button#back.btn.btn-primary Go back
	else
		each section in sections
			.section
				.section-header {{getTranslation section.header}}
				.section-content
					each content in section.contents
						if isArray content
							each element in getArrayElements content.type
								.array(key='{{element.key}}')
									each item in content.type
										tr.array-item
											th.left
											th
												each field in item.fields
													div
														b {{field.key}}:
											td.item
												each field in item.fields
													div
														span {{field.key}}
											td.link
												i.fa.fa-chevron-right
							else
								p {{getArrayTranslation content.key 'noElements'}}
						else if content.readonly
							.form-group
								.key {{getEntityTranslation content.key}}
								.value {{getValue content}}
						else
							.input.form-group(key='{{key}}')
								.key {{getEntityTranslation content.key}}
								.value
									| {{getValue content}}
									i.fa.fa-angle-right.icon
