.popover.tour
	.arrow
	button.btn.btn-transparent.fa.fa-times.pull-right(data-role='end')
	h3.popover-title
	.popover-content
	.popover-navigation.right-align
		.btn-group
			button.btn.btn-white.fa.fa-arrow-left(data-role='prev')
			button.btn.btn-white.fa.fa-arrow-right(data-role='next')
