.navigation-wrapper
	nav.navbar.navbar-fixed-top
		a.navbar-back(href="{{getBackLink}}")
			i.fa.fa-angle-left.m-r-xs
			| Back
		.navbar-title Edit name

form.form-horizontal
	.section
		.section-header {{getSectionName}}
		.section-content
			if isText
				+TextInput
