.section(class='{{getErrorClass}}')
	.section-header {{getEntityTranslation}}
	.section-select
		select
			with 'placeholder'
				option(value) {{getEntityTranslation getItemKey}}
			each item in items
				option(value='{{item}}')
					with item
						| {{getEntityTranslation getItemKey}}
	if hasError
		.section-error
			p {{getEntityErrorTranslation}}
