.navigation-wrapper
	nav.navbar.navbar-fixed-top
		a.navbar-back(href="{{getBackLink}}")
			i.fa.fa-angle-left.m-r-xs
			| {{_ 'navigation.back'}}
		.navbar-title {{getKeyTranslation}}

form.form-horizontal
	.section
		.section-header {{getKeyTranslation}}
		.section-content
			if isText
				+TextInput data=textInputData
