body.md-skin[type='UpdateForm'] {
    background-color: #eee !important;
    padding-top     : 50px;

    .navbar {
        width: 100%;

        .navbar-back {
            position   : absolute;
            font-weight: 300;
        }

        .navbar-back,
        .navbar-title {
            color      : #fff;
            height     : 50px;
            padding    : 15px;
            font-size  : 18px;
            text-align : center;
            line-height: 20px;
        }

        .navbar-title {
            font-weight: 400;
        }

        .search.input-group {
            margin: 0 9px 10px 10px; // why 9? see .input > margin-left

            .input-group-addon {
                color                    : #8e8e8e;
                padding                  : 6px 6px 6px 12px;
                font-family              : FontAwesome;
                border                   : none !important;
                border-top-left-radius   : 5px;
                border-bottom-left-radius: 5px;
            }

            input {
                border                    : none;
                border-top-right-radius   : 5px;
                border-bottom-right-radius: 5px;
                margin-left               : -1px;
                padding-left              : 5px;
            }
        }
    }

    form.form-horizontal {
        .section {
            margin-top: 15px;

            .section-header {
                color         : #3f51b5;
                padding       : 7px 0 7px 15px;
                font-size     : 13px;
                letter-spacing: 0.3px;
                text-transform: uppercase;
            }

            .section-content,
            .section-select {
                font-size       : 15px;
                border-top      : 1px solid #ddd;
                border-bottom   : 1px solid #ddd;
                background-color: #fff;

                .text-input {
                    input {
                        width  : 100%;
                        border : 0;
                        outline: 0;
                        padding: 10px 0 10px 15px;
                    }

                    textarea {
                        border : none;
                        width  : 100%;
                        height : 110px;
                        resize : vertical;
                        padding: 8px 8px 8px 15px;
                        outline: 0;
                    }
                }
            }

            .section-select {
                padding: 10px 15px;

                select {
                    outline: none;
                }
            }

            .section-date {
                padding         : 9px 15px;
                font-size       : 15px;
                border-top      : 1px solid #ddd;
                border-bottom   : 1px solid #ddd;
                background-color: #fff;

                .datepicker {
                    width: auto;

                    table {
                        width       : 100%;
                        max-width   : 350px;
                        margin-left : auto;
                        margin-right: auto;
                    }
                }
            }

            .section-loading {
                padding         : 10px 15px;
                border-top      : 1px solid #ddd;
                border-bottom   : 1px solid #ddd;
                background-color: #fff;

                i.fa {
                    line-height: 21px;
                }
            }

            .date-input input {
                border     : 0;
                outline    : 0;
                margin-left: 15px;
            }

            .section-error {
                display: none;
            }
        }

        .section-picker {
            font-size       : 15px;
            border-top      : 1px solid #ddd;
            border-bottom   : 1px solid #ddd;
            background-color: #fff;

            &.search-disabled {
                margin-top: 25px;
            }

            div.form-group {
                cursor       : pointer;
                margin       : 0 0 0 15px;
                padding      : 0;
                border-bottom: 1px solid #ddd;

                &:last-of-type {
                    border-bottom: none;
                }

                .checkmark {
                    width     : 25px;
                    color     : #777;
                    padding   : 8px 8px 8px 0;
                    display   : inline-block;
                    text-align: right;

                    .icon {
                        color        : #3f51b5;
                        font-size    : 18px;
                        padding-top  : 2px;
                        padding-right: 3px;
                    }
                }

                .key {
                    padding: 9px 0;
                    display: inline-block;
                }
            }
        }

        .section.has-error {
            .section-header {
                color: #f44336;
            }

            .section-content,
            .section-date {
                border-top   : 0.5px solid #f44336;
                border-bottom: 0.5px solid #f44336;
            }

            .section-date,
            input {
                background-color: lighten(#f44336, 35%);

                &::placeholder {
                    color: lighten(#f44336, 20%);
                }
            }

            .section-error {
                display: block;

                p {
                    color  : #f44336;
                    padding: 5px 0 5px 15px;
                }
            }
        }
    }

    .results-mobile {
        width           : 100%;
        margin-top      : 76px;
        background-color: #fff !important;

        a {
            width  : 100%;
            color  : inherit;
            display: inline-block;

            tr {
                td,
                th {
                    cursor       : pointer;
                    padding      : 10px 15px 10px 0;
                    font-size    : 15px;
                    text-align   : left;
                    border-bottom: 1px solid #eee;

                    b,
                    span {
                        margin     : 3px 0;
                        display    : block;
                        line-height: 1;
                        white-space: nowrap;

                        &:empty {
                            content: " ";
                        }
                    }
                }

                th.left {
                    width        : 15px;
                    border-bottom: 0;
                }

                td.item {
                    width: 100%;
                }

                td.link {
                    color         : #ccc;
                    font-size     : 20px;
                    vertical-align: middle;
                }
            }
        }
    }
}