if isSupport
	.container-fluid
		.row
			.col-md-6
				.row.m-t-lg.m-b-xl
					.col-xs-12
						h2.center-align Projects
				.ibox
					.ibox-content
						.table-responsive
							table#projectTable.table.table-stripped
								.sk-spinner.sk-spinner-pulse
			.col-md-6
				.row.m-t-lg.m-b-xl
					.col-xs-12
						h2.center-align Users
				.ibox
					.ibox-content
						.table-responsive
							table#userTable.table.table-stripped
								.sk-spinner.sk-spinner-pulse
else
	h2.center-align No permission
