.container
	.row.m-t-lg.m-b-xl
		.col-xs-12
			if isSupport
				h2.center-align Support
			else
				h2.center-align No permission
	if isSupport
		.ibox
			.ibox-content
				.table-responsive
					table#projectTable.table.table-stripped
						.sk-spinner.sk-spinner-pulse
