// Basic Colors
$indigo            : #3f51b5;
$dark-gray         : #c2c2c2;
$blue              : #3f51b5;
$lazur             : #CDDC39;
$yellow            : #FF9800;
$red               : #F44336;
$green             : #4CAF50;
$amber             : #FFC107;
$grey              : #333;
$text-color        : #212121;
$gray              : #f3f3f4;
$light-gray        : #B6B6B6;
$label-badget-color: #727272;
$light-blue        : #C5CAE9;
$spin-color        : $indigo;
$spin-margin       : 0 auto;
$border-color      : #e7eaec;
$ibox-title-bg     : #fff;
$ibox-content-bg   : #fff;
$btn-border-radius : 3px;
$sidebar-width     : 220px;
$boxed-width       : 1200px;
$boxed-backgound   : #fff;
$nav-bg            : #2F4050;
$nav-profil-pattern: #2F4050;
$nav-text-color    : #a7b1c2;
