.wrapper-content.animated.fadeInUp
	.container
		.row
			.col-xs-12
				if isProjectShiftOrStoreAdmin getProjectId
					.row.m-b-lg
						.col-md-offset-3.col-md-1.col-xs-3
							button#prevMonth.btn.btn-primary.btn-block.fa.fa-chevron-left
						.col-md-4.col-xs-6.no-padding
							h2.center-align.m-t-xs.m-b-none {{format getMonth 'YYYY-MM' 'MMMM YYYY'}}
						.col-md-1.col-xs-3
							button#nextMonth.btn.btn-primary.btn-block.fa.fa-chevron-right
					.row.m-b-lg
						.col-xs-12.center-align
							h2 Coming soon
					.ibox
						.ibox-content
							.row.m-b
								.col-xs-12
									h3 {{_ 'reports.placements'}}
							.row.m-b
								.col-xs-4
									small.stats-label {{_ 'reports.bibles'}}
									h4 0
								.col-xs-4
									small.stats-label {{_ 'reports.magazines'}}
									h4 0
								.col-xs-4
									small.stats-label {{_ 'reports.tracts'}}
									h4 0
							.row
								.col-xs-4
									small.stats-label {{_ 'reports.books'}}
									h4 0
								.col-xs-4
									small.stats-label {{_ 'reports.brochures'}}
									h4 0
								.col-xs-4
									small.stats-label {{_ 'reports.videos'}}
									h4 0
					.ibox
						.ibox-content
							.row.m-b
								.col-xs-12
									h3 {{_ 'reports.achievements'}}
							.row.m-b
								.col-xs-4
									small.stats-label {{_ 'reports.talks'}}
									h4 0
								.col-xs-4
									small.stats-label {{_ 'reports.addresses'}}
									h4 0
								.col-xs-4
									small.stats-label {{_ 'reports.hours'}}
									h4 0
							.row
								.col-xs-4
									small.stats-label {{_ 'reports.texts'}}
									h4 0
								.col-xs-4
									small.stats-label {{_ 'reports.shifts'}}
									h4 0
								.col-xs-4
									small.stats-label {{_ 'reports.missing'}}
									h4 0
									button#showMissing.btn.btn-primary.btn-xs {{_ 'reports.show'}}
					.ibox
						.ibox-content
							.row.m-b
								.col-xs-12
									h3 {{_ 'reports.participants'}}
							.row
								.col-xs-4
									small.stats-label {{_ 'reports.pioneers'}}
									h4 0
								.col-xs-4
									small.stats-label {{_ 'reports.publishers'}}
									h4 0
								.col-xs-4
									small.stats-label {{_ 'reports.allParticipants'}}
									h4 0
					.ibox
						.ibox-content
							.row.m-b
								.col-xs-12
									h3 {{_ 'reports.experiences'}}
							.row
								.col-xs-4
									small.stats-label {{_ 'reports.route'}}
									h4 0
									button#showExperiences.btn.btn-primary.btn-xs(type="route") {{_ 'reports.show'}}
								.col-xs-4
									small.stats-label {{_ 'reports.good'}}
									h4 0
									button#showExperiences.btn.btn-primary.btn-xs(type="good") {{_ 'reports.show'}}
								.col-xs-4
									small.stats-label {{_ 'reports.problems'}}
									h4 0
									button#showExperiences.btn.btn-primary.btn-xs(type="problems") {{_ 'reports.show'}}

					button.btn.btn-primary.pull-right#exportReports(class='{{readyOrDisabled}}' download)
						i.fa.fa-download
						| {{_ 'users.export'}}
				else
					.ibox
						.ibox-title
							h5 {{_ 'role.noPermission'}}
