.wrapper-content.animated.fadeInUp
	.container
		.row
			.col-xs-12
				if isProjectShiftOrStoreAdmin getProjectId
					.row.m-b-lg
						.col-md-offset-3.col-md-1.col-xs-3
							button#prevMonth.btn.btn-primary.btn-block.fa.fa-chevron-left(title="{{_ 'reports.prevMonth'}}")
						.col-md-4.col-xs-6.no-padding
							h2.center-align.m-t-xs.m-b-none {{format getMonth 'YYYY-MM' 'MMMM YYYY'}}
						.col-md-1.col-xs-3
							button#nextMonth.btn.btn-primary.btn-block.fa.fa-chevron-right(title="{{_ 'reports.nextMonth'}}")
					div(style="text-align: center;")
						button.btn.btn-primary#exportReports(class='{{readyOrDisabled.button}}' download)
							i.fa(class='{{readyOrDisabled.icon}}')
							| {{_ 'reports.export'}}
				else
					.ibox
						.ibox-title
							h5 {{_ 'role.noPermission'}}
