.row.m-t-lg.m-b-xl
	.col-xs-12
		h2.center-align {{userCount}} Users
.ibox
	.ibox-content
		input#userString.form-control(type='text' placeholder='Search for a user...')
		.table-responsive
			table#userTable.table.table-stripped
				.sk-spinner.sk-spinner-pulse
