#createProjectModal.modal.inmodal(tabindex='-1' aria-hidden='true')
	.modal-dialog.modal-sm
		.modal-content
			.modal-header
				i.fa.fa-magic.modal-icon
				h2.m-b-none Create project
			.modal-body
				form.form-horizontal
					.form-group
						.col-sm-12.m-b-xs
							label.control-label Title
						.col-sm-12
							input#title.form-control(type='text' placeholder='Titel')
					.form-group
						.col-sm-12.m-b-xs
							label.control-label Text
						.col-sm-12
							textarea#text.form-control(rows='4')
			.modal-footer
				button#createProject.btn.btn-primary.pull-left Create project
				button#close.btn.btn-white(data-dismiss='modal') {{_ 'modal.close'}}
