if queryParam 'editMeetingPicture'
	+editMeetingPictureModal
if queryParam 'editTeamPicture'
	+editTeamPictureModal
.container-fluid
	.row.m-t-lg
		.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-0.col-lg-5.col-lg-offset-1.animated.fadeInUp
			.ibox
				.ibox-title.float-e-margins
					h2 {{_ 'settings.main.title'}}
				.ibox-content
					if isProjectAdmin
						form.form-horizontal
							with getProject
								.form-group
									label.col-sm-2.col-sm-2.col-lg-4.control-label {{_ 'settings.main.id'}}
									label.col-sm-10.col-lg-8.control-label.field-label {{_id}}
								.form-group
									label.col-sm-2.col-sm-2.col-lg-4.control-label {{_ 'settings.main.name.text'}}
									.col-sm-10.col-lg-8
										input#projectName.form-control(type='text' placeholder='{{_ "settings.main.name.placeholder"}}' value='{{name}}')
										span.help-block {{_ 'settings.main.name.helpText'}}
								.form-group
									label.col-sm-2.col-sm-2.col-lg-4.control-label {{_ 'settings.main.email.text'}}
									.col-sm-10.col-lg-8
										input#projectEmail.form-control(type='email' placeholder='{{_ "settings.main.email.placeholder"}}' value='{{email}}')
										span.help-block {{_ 'settings.main.email.helpText'}}
								.form-group
									label.col-sm-2.col-sm-2.col-lg-4.control-label {{_ 'settings.main.language.text'}}
									.col-sm-10.col-lg-8
										.dropdown
											button.btn.btn-white.btn-block.dropdown-toggle(data-toggle='dropdown' aria-expanded='false')
												span.m-r {{_ 'language.' context=language}}
												span.caret.pull-right
											ul.dropdown-menu
												li.header.p-xs {{_ 'settings.main.language.helpText'}}
												each getLanguages
													li
														a.changeLanguage(href newLang='{{_id}}') {{name}} ({{en}})
							else
								.sk-spinner.sk-spinner-pulse
					else
						h2.center-align {{_ 'role.noPermission'}}
				.ibox-footer.right-align
					if isProjectAdmin
						#deleteProject.btn.btn-danger.m-t-xs.m-b-xs
							i.fa.fa-trash.fa-fw
							| {{_ 'settings.main.deleteProject'}}
		.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-0.col-lg-5.animated.fadeInUp.z-index-10
			.ibox
				.ibox-title.float-e-margins
					h2 {{_ 'settings.tags.title'}}
					.text-muted.m-t {{{_ 'settings.tags.helpText'}}}
				.ibox-content
					if isProjectShiftAdmin
						form.form-horizontal
							with getProject
								if tags
									each tags
										.tag
											.form-group
												label.col-sm-2.col-lg-4.control-label {{_ 'settings.tags.id'}}
												label.col-sm-10.col-lg-8.control-label.field-label {{_id}}
											.form-group
												label.col-sm-2.col-lg-4.control-label {{_ 'settings.tags.name'}}
												.col-sm-10.col-lg-8
													input#tagName.form-control(type='text' placeholder='{{_ "settings.tags.name"}}' value='{{name}}')
											.form-group
												label.col-sm-2.col-lg-4.control-label {{_ 'settings.tags.img.name'}}:
												.col-sm-10.col-lg-8
													.dropdown
														button.btn.btn-white.btn-block.dropdown-toggle(data-toggle='dropdown' aria-expanded='false')
															if img
																span.m-r {{img}}
															else
																span.m-r users
															span.caret.pull-right
														ul.dropdown-menu.dropdown-menu-inverted
															li.header.p-xs {{_ 'settings.tags.img.helpText'}}
															li.inverted
																a.changeImg(href img='none')
																	i.fa.fa-users.fa-3x
															li.inverted
																a.changeImg(href img='trolley')
																	img(src='/img/trolley.png' height='50px')
															li.inverted
																a.changeImg(href img='helmet')
																	img(src='/img/helmet.png' height='50px')
															li.inverted
																a.changeImg(href img='chef')
																	img(src='/img/chef.png' height='50px')
															li.inverted
																a.changeImg(href img='cleaning')
																	img(src='/img/cleaning.png' height='50px')
															li.inverted
																a.changeImg(href img='first-aid')
																	img(src='/img/first-aid.png' height='50px')
															li.inverted
																a.changeImg(href img='internet')
																	img(src='/img/internet.png' height='50px')
											.form-group(tagId='{{_id}}')
												label.col-sm-2.col-lg-4.control-label {{_ 'settings.tags.templates'}}
												.col-sm-10.col-lg-8
													ul.week-group
														each templates
															li.week-group-item
																.dropdown
																	a.dropdown-toggle(href data-toggle='dropdown' aria-expanded='false')
																		button.pull-right
																			i.fa.fa-wrench.fa-fw
																		| {{name}}
																	ul.dropdown-menu
																		li
																			a#showTemplate(href)
																				i.fa.fa-wrench.fa-fw
																				| {{_ 'settings.tags.showTemplate'}}
																		li
																			a#editTemplate(href)
																				i.fa.fa-pencil.fa-fw
																				| {{_ 'settings.tags.editTemplate'}}
																		li
																			a#removeTemplate(href)
																				i.fa.fa-trash.fa-fw
																				| {{_ 'settings.tags.removeTemplate'}}
														li.week-group-item
															a#addTemplate(href)
																i.fa.fa-plus.fa-fw
																| {{_ 'settings.tags.addTemplate'}}
											.form-group
												label.col-sm-2.col-lg-4.control-label {{_ 'settings.tags.action'}}
												.col-sm-10.col-lg-8
													#removeTag.btn.btn-danger.btn-circle.fa.fa-trash
										.hr-line-dashed
								else
									.center-align {{_ 'settings.tags.none'}}
							else
								.sk-spinner.sk-spinner-pulse
					else
						h2.center-align {{_ 'role.noPermission'}}
				.ibox-footer
					if isProjectShiftAdmin
						.m-sm.center-align
							#addTag.btn.btn-primary.btn-circle.fa.fa-plus
	.row
		.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-0.col-lg-5.col-lg-offset-1.animated.fadeInUp.z-index-10
			.ibox
				.ibox-title.float-e-margins
					h2 {{_ 'settings.teams.title'}}
					.text-muted.m-t.m-b-xs {{{_ 'settings.teams.helpText.main'}}}
				.ibox-content
					if isProjectShiftAdmin
						form.form-horizontal
							with getProject
								if teams
									each teams
										.team
											.form-group
												label.col-sm-2.col-lg-4.control-label {{_ 'settings.teams.id'}}
												label.col-lg-8.control-label.field-label {{_id}}
											.form-group
												label.col-sm-2.col-lg-4.control-label {{_ 'settings.teams.name'}}
												.col-sm-10.col-lg-8
													input#teamName.form-control(type='text' placeholder='{{_ "settings.teams.name"}}' value='{{name}}')
											.form-group
												label.col-xs-12.col-sm-2.col-lg-4.control-label {{_ 'settings.teams.picture'}}
												with teamPicture
													label.col-xs-10.col-sm-8.col-lg-6.control-label.field-label {{original.name}}
												else
													label.col-xs-10.col-sm-8.col-lg-6.control-label.field-label.red {{_ 'settings.teams.noPicture'}}
												.col-xs-2
													#editTeamPicture.btn.btn-white.btn-circle.fa.fa-upload.pull-right
												.col-xs-12.col-sm-offset-2.col-sm-10.col-lg-offset-4.col-lg-8
													span.help-block {{_ 'settings.teams.helpText.picture'}}
											.form-group
												label.col-sm-2.col-sm-2.col-lg-4.control-label {{_ 'settings.teams.link'}}
												.col-sm-10.col-lg-8
													input#teamLink.form-control(type='url' placeholder='{{_ "settings.teams.link"}}' value='{{link}}')
													span.help-block {{_ 'settings.teams.helpText.link'}}
											.form-group
												label.col-sm-2.col-sm-2.col-lg-4.control-label {{_ 'settings.teams.description'}}
												.col-sm-10.col-lg-8
													textarea#teamDescription.form-control(placeholder='{{_ "settings.teams.description"}}' rows='3') {{description}}
													span.help-block {{_ 'settings.teams.helpText.description'}}
											.form-group
												label.col-sm-2.col-lg-4.control-label {{_ 'settings.teams.action'}}
												.col-sm-10.col-lg-8
													#removeTeam.btn.btn-danger.btn-circle.fa.fa-trash
										.hr-line-dashed
								else
									.center-align {{_ 'settings.teams.none'}}
							else
								.sk-spinner.sk-spinner-pulse
					else
						h2.center-align {{_ 'role.noPermission'}}
				.ibox-footer
					if isProjectShiftAdmin
						.m-sm.center-align
							#addTeam.btn.btn-primary.btn-circle.fa.fa-plus
		.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-0.col-lg-5.animated.fadeInUp
			.ibox
				.ibox-title.float-e-margins
					h2 {{_ 'settings.meetings.title'}}
					.text-muted.m-t.m-b-xs {{_ 'settings.meetings.helpText.main'}}
				.ibox-content
					if isProjectShiftAdmin
						form.form-horizontal
							with getProject
								if meetings
									each meetings
										.meeting
											.form-group
												label.col-sm-2.col-lg-4.control-label {{_ 'settings.meetings.id'}}
												label.col-lg-8.control-label.field-label {{_id}}
											.form-group
												label.col-sm-2.col-lg-4.control-label {{_ 'settings.meetings.name'}}
												.col-sm-10.col-lg-8
													input#meetingName.form-control(type='text' placeholder='{{_ "settings.meetings.name"}}' value='{{name}}')
											.form-group
												label.col-xs-12.col-sm-2.col-lg-4.control-label {{_ 'settings.meetings.picture'}}
												with meetingPicture
													label.col-xs-10.col-sm-8.col-lg-6.control-label.field-label {{original.name}}
												else
													label.col-xs-10.col-sm-8.col-lg-6.control-label.field-label.red {{_ 'settings.meetings.noPicture'}}
												.col-xs-2
													#editMeetingPicture.btn.btn-white.btn-circle.fa.fa-upload.pull-right
												.col-xs-12.col-sm-offset-2.col-sm-10.col-lg-offset-4.col-lg-8
													span.help-block {{_ 'settings.meetings.helpText.picture'}}
											.form-group
												label.col-sm-2.col-lg-4.control-label {{_ 'settings.meetings.action'}}
												.col-sm-10.col-lg-8
													#removeMeeting.btn.btn-danger.btn-circle.fa.fa-trash
										.hr-line-dashed
								else
									.center-align {{_ 'settings.meetings.none'}}
							else
								.sk-spinner.sk-spinner-pulse
					else
						h2.center-align {{_ 'role.noPermission'}}
				.ibox-footer
					if isProjectShiftAdmin
						.m-sm.center-align
							#addMeeting.btn.btn-primary.btn-circle.fa.fa-plus
