.footer
	h3
		i.fa.fa-code.text-muted
		| with
		i.fa.fa-heart.text-danger
		| by
		a(href='https://github.com/JWDeveloper/JWManagement' target='blank') JWDeveloper
	div
		a(href='/en/terms' target='blank') Terms
		| |
		a(href='/de/privacy' target='blank') Datenschutzerklärung
