template(name="DetailsFormActions")
  if actions
    each action in actions
      if isButton action
        .m-sm
          a.btn.btn-block.p-xs(class='btn-{{action.style}}' href='{{getActionPath action}}') {{getEntityTranslation action.key}}
      if isConfirm action
        .m-sm
          .confirm-button.btn.btn-block.p-xs(class='btn-{{action.style}}' method='{{action.method}}' route='{{action.route}}' key='{{action.key}}')
            | {{getEntityTranslation action.key}}
