.container
	.row
		.col-sm-8.col-sm-offset-2
			.ibox-content
				.text-center.article-title
					h1 {{_ 'privacy.title'}}
				| {{{_ 'privacy.text'}}}
				.dropdown.m-t.text-center
					+languageSwitch
				p.m-t-lg.text-center
					a(href="{{pathFor 'welcome' language=langTag}}") {{_ 'privacy.back'}}
