template(name="InsertFormLink")

  .section(class='{{getErrorClass}}')

    .section-header
      | {{getEntityTranslation getKey}}
      if isRequired
        | *

    .section-content
      .link.clearfix
        .key {{getValue}}
        .value
          i.icon.fa.fa-angle-right

    if hasError
      .section-error
        p {{getEntityErrorTranslation}}
