template(name="support.details")
  +DetailsForm data=data
    p Bei Problemen, Fragen oder Anregungen könnt ihr uns über die unten angegebenen Wege erreichen.

    ul
      li Mobil: +49 176 96005275
      li E-Mail: support@jwmanagement.org

    p Habt ihr Verbesserungsvorschläge oder einen technischen Fehler zu melden?
      | Über unser github Repository könnt ihr direkt mit unseren Superentwicklern in Verbindung treten.
