body.md-skin[type='EntityForm'] {
	background-color: #fff !important;
	padding-top     : 50px;

	.navbar {
		.navbar-header {
			&.navbar-left {
				float      : left;
				margin-left: 10px;
			}

			&.navbar-right {
				float       : right !important;
				margin-right: 0;

				a {
					padding-right: 15px;
				}
			}
		}
	}

	form.form-horizontal {
		.section {
			margin-top: 10px;

			.section-header {
				color         : #3f51b5;
				font-size     : 15px;
				padding-left  : 15px;
				padding-bottom: 7px;
			}

			.section-content {
				border-top   : 1px solid #ddd;
				border-bottom: 1px solid #ddd;
			}

			div.form-group {
				&:last-of-type {
					border-bottom: 0;
				}
				margin        : 0 0 0 15px;
				padding-top   : 8px;
				padding-bottom: 8px;
				border-bottom : 1px solid #ddd;
			}

			.key {
				color        : #777;
				text-align   : right;
				padding-left : 0;
				padding-right: 0;
			}
		}
	}
}
