.navigation-wrapper
	nav.navbar.navbar-fixed-top
		+navbarBrand
		ul.nav.navbar-top-links.navbar-right
			li
				a(href='')
					i.fa.fa-pencil

form.form-horizontal
	.section
		.section-header Main
		.section-content
			.form-group
				label.control-label.col-xs-2
				.col-xs-10
					input.form-control(type='text' placeholder='')
