.passwordBox.animated.fadeInDown
	.row
		.col-md-12
			.ibox-content
				with user
					h2.font-bold {{_ "resetPassword.name"}}
					p {{_ "resetPassword.text" getPublisherName}}
					.row
						.col-lg-12
							form.m-t
								if error
									.alert.alert-danger {{error}}
								.form-group
									input.form-control(type='password' placeholder='{{_ "input.newPassword"}}' required)
								.form-group
									input.form-control(type='password' placeholder='{{_ "input.newPasswordRepeat"}}' required)
								button.ladda-button.btn.btn-primary.block.full-width.m-b(data-style='slide-down' type='submit') {{_ "resetPassword.button"}}
				else
					if loggingIn
						.sk-spinner.sk-spinner-pulse
					else
						h2.center-align {{{_ 'resetPassword.noUserFound'}}}
	.dropdown.m-t.text-center
		+languageSwitch
	p.m-t.text-center
		a(href="{{pathFor 'login' language=langTag}}") {{_ "resetPassword.back"}}
