.col-lg-9
	.tabs-container.m-b-xl
		if ready
			ul.nav.nav-tabs
				each tabs
					li(id="{{_id}}b")
						a(data-toggle="tab" href="#{{_id}}") 
							.tab-title.inline {{title}}
							if isProjectAdmin
								button.option.pull-right.dropdown-toggle(data-toggle="dropdown")
									i.fa.fa-ellipsis-v.fa-fw
								ul.dropdown-menu.dropdown-menu-right
									li
										a.editTab(href)
											i.fa.fa-pencil.fa-fw
											| {{_ 'wiki.edit'}}
										a.removeTab(href)
											i.fa.fa-trash-o.fa-fw
											| {{_ 'wiki.delete'}}
				if isProjectAdmin
					li
						a.addTab(href title="{{_ 'wiki.addTab'}}")
							i.fa.fa-plus.fa-fw
			.tab-content
				each tabs
					.tab-pane(id="{{_id}}") 
						each faq
							.faq-item(id="{{_id}}")
								a.faq-question.collapsed(data-toggle="collapse" href="#faq{{_id}}") {{question}}
								if isProjectAdmin
									button.btn.btn-warning.btn-sm.btn-circle.hidden.editor-btn.editQuestion(title="{{_ 'wiki.editQuestion'}}")
										i.fa.fa-pencil.fa-fw
									button.btn.btn-danger.btn-sm.btn-circle.pull-right.hidden.editor-btn.removeFaq(title="{{_ 'wiki.removeFaq'}}")
										i.fa.fa-trash-o.fa-fw
									button.btn.btn-warning.btn-sm.btn-circle.pull-right.editFaq(title="{{_ 'wiki.editFaq'}}")
										i.fa.fa-pencil.fa-fw
									button.btn.btn-success.btn-sm.btn-circle.pull-right.hidden.editor-btn.changeFaq(title="{{_ 'wiki.changeFaq'}}")
										i.fa.fa-check.fa-fw
									button.btn.btn-default.btn-sm.btn-circle.pull-right.hidden.editor-btn.cancelFaq(title="{{_ 'wiki.cancelFaq'}}")
										i.fa.fa-times.fa-fw
								+itemContent
		else
			ul.nav.nav-tabs
				li.active
					a
						i.fa.fa-spinner.fa-pulse
				li
					a
						i.fa.fa-spinner.fa-pulse
				li
					a
						i.fa.fa-spinner.fa-pulse
				li
					a
						i.fa.fa-spinner.fa-pulse
			.tab-content
				.tab-pane
					.faq-item
						a.faq-question
							i.fa.fa-spinner.fa-pulse
					.faq-item
						a.faq-question
							i.fa.fa-spinner.fa-pulse
					.faq-item
						a.faq-question
							i.fa.fa-spinner.fa-pulse
					.faq-item
						a.faq-question
							i.fa.fa-spinner.fa-pulse
		if ready
			if isProjectAdmin
				.row
					button.btn.btn-primary.btn-rounded.center-block.addQuestion
						i.fa.fa-plus
							| {{_ "wiki.addQuestion"}}
