#shiftReportModal.modal.inmodal
	with getShift
		.modal-dialog.modal-lg.animated.fadeInUp
			.modal-content
				.modal-header
					h1 "{{team.name}}" {{_ 'modal.shiftReport.title'}}
					h2.m-b-none {{format date 'YYYYDDDD' 'ddd, Do MMMM YYYY'}}, {{formatTimeComparison start end}}
				.modal-body
					if isThisTeamleader _id getTeamId
						.headlines
							button.btn.btn-lg#publisherPage(class="{{isActive 0}}" title="{{_ 'shifts.shiftReport.pages.publisher'}}")
								i.fa.fa-group
							i.fa.fa-angle-right
							button.btn.btn-lg#itemsPage(class="{{isActive 1}}" title="{{_ 'shifts.shiftReport.pages.items'}}")
								i.fa.fa-book
							i.fa.fa-angle-right
							button.btn.btn-lg#occurrencesPage(class="{{isActive 2}}" title="{{_ 'shifts.shiftReport.pages.occurrences'}}")
								i.fa.fa-exclamation-circle
							i.fa.fa-angle-right
							button.btn.btn-lg#storePage(class="{{isActive 3}}" title="{{_ 'shifts.shiftReport.pages.store'}}")
								i.fa.fa-home
							i.fa.fa-angle-right
							button.btn.btn-lg#experiencesPage(class="{{isActive 4}}" title="{{_ 'shifts.shiftReport.pages.experiences'}}")
								i.fa.fa-comment
						if equals reportPage 0
							h1 {{_ 'profile.publisher'}}
							.row
								with leader
									if name
										.col-lg-4
											.contact-box
												.col-xs-12
													h3 {{name}}
													.radio.radio-primary.m-l-md
														input.inline(name="sl_state" type="radio" checked="on" disabled)
														label {{_ 'modal.shiftReport.teamleader'}}
								each participantsNoLeader
									.col-lg-4
										.contact-box
											.col-xs-12
												h3 {{name}}
												.state.radio.radio-primary.m-l-md
													input.inline(id="present_{{_id}}" name="state_{{_id}}" type="radio" value="present" checked="{{wasState 'present'}}")
													label(for="present_{{_id}}") {{_ 'modal.shiftReport.present'}}
												.state.radio.radio-primary.m-l-md
													input.inline(id="sick_{{_id}}" name="state_{{_id}}" type="radio" value="sick" checked="{{wasState 'sick'}}")
													label(for="sick_{{_id}}") {{_ 'modal.shiftReport.sick'}}
												.state.radio.radio-primary.m-l-md
													input.inline(id="missing_{{_id}}" name="state_{{_id}}" type="radio" value="missing" checked="{{wasState 'missing'}}")
													label(for="missing_{{_id}}") {{_ 'modal.shiftReport.missing'}}
						if equals reportPage 1
							+reportItems
						if equals reportPage 2
							h1 {{_ 'modal.shiftReport.occurrences'}}
							.row
								.col-lg-2
									label(for="texts") {{_ 'modal.shiftReport.texts'}}
									input#texts.form-control(type="number" min="0" value="{{team.report.texts}}")
								.col-lg-2
									label(for="speaks") {{_ 'modal.shiftReport.speaks'}}
									input#speaks.form-control(type="number" min="0" value="{{team.report.speaks}}")
								.col-lg-2
									label(for="videos") {{_ 'modal.shiftReport.videos'}}
									input#videos.form-control(type="number" min="0" value="{{team.report.videos}}")
								.col-lg-2
									label(for="website") {{_ 'modal.shiftReport.website'}}
									input#website.form-control(type="number" min="0" value="{{team.report.website}}")
								.col-lg-2
									label(for="returnVisits") {{_ 'modal.shiftReport.returnVisits'}}
									input#returnVisits.form-control(type="number" min="0" value="{{team.report.returnVisits}}")
								.col-lg-2
									label(for="bibleStudies") {{_ 'modal.shiftReport.bibleStudies'}}
									input#bibleStudies.form-control(type="number" min="0" value="{{team.report.bibleStudies}}")
								.col-lg-2
									label(for="hours") {{_ 'modal.shiftReport.time'}}
									input#hours.form-control(type="text" value="{{team.report.hours}}" placeholder="02:00")
						if equals reportPage 3
							h1 {{_ 'modal.shiftReport.store'}}
							.row
								.col-lg-4.checkbox.checkbox-circle.checkbox-primary
									input.form-control#filled(type="checkbox" checked="{{team.report.filled}}")
									label(for="filled") {{_ 'modal.shiftReport.trolleysFilled'}}
								.col-lg-4
									label {{_ 'modal.shiftReport.neatnessLast'}}
									select.form-control#neatness
										option(value="bad" selected="{{wasNeatness 'bad'}}") {{_ 'modal.shiftReport.bad'}}
										option(value="normal" selected="{{wasNeatness 'normal'}}") {{_ 'modal.shiftReport.normal'}}
										option(value="good" selected="{{wasNeatness 'good'}}") {{_ 'modal.shiftReport.good'}}
						if equals reportPage 4
							h1 {{_ 'modal.shiftReport.experiences'}}
							.row
								.col-lg-12
									label(for="route") {{_ 'modal.shiftReport.expRoute'}}
									textarea.form-control#route {{team.report.experiences.route}}
							.row
								.col-lg-12
									label(for="goodExp") {{_ 'modal.shiftReport.expGood'}}
									textarea.form-control#goodExp {{team.report.experiences.good}}
							.row
								.col-lg-12
									label(for="problems") {{_ 'modal.shiftReport.expProblems'}}
									textarea.form-control#problems {{team.report.experiences.problems}}
					else
						h2.center-align {{_ 'role.noPermission'}}
				.modal-footer
					if isThisTeamleader _id getTeamId
						if equals reportPage 4
							button.btn.btn-success.btn-lg.btn-circle.pull-right#finish(title="{{_ 'modal.shiftReport.pages.finish'}}")
								i.fa.fa-check
						else
							button.btn.btn-primary.btn-lg.btn-circle.pull-right#nextReportPage(title="{{_ 'modal.shiftReport.pages.nextPage'}}")
								i.fa.fa-angle-right
						button.btn.btn-primary.btn-lg.btn-circle.pull-right#prevReportPage(title="{{_ 'modal.shiftReport.pages.prevPage'}}")
							i.fa.fa-angle-left
