.delay-01 {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

.delay-015 {
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}

.delay-02 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

.delay-025 {
    -webkit-animation-delay: .25s;
    animation-delay: .25s;
}

.delay-03 {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

.delay-035 {
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
}

.delay-04 {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

.delay-045 {
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
}

.delay-05 {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

.delay-055 {
    -webkit-animation-delay: .55s;
    animation-delay: .55s;
}

.delay-06 {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}
