.row.header
	.col-xs-12.col-md-3.col-xs.center-on-xs
		if isProjectShiftAdmin
			.btn-group
				button#editShifts.btn.btn-primary.btn-outline(title="{{_ 'shifts.editShifts'}}")
					i.fa.fa-wrench
					| Edit Shifts
		if isProjectShiftScheduler
			button#sendConfirmWeek.btn.btn-primary.btn-outline(title="{{_ 'shifts.sendWeek'}}")
				i.fa.fa-send.fa-fw
				| Send Confirmations
	.col-xs-2.col-md-1.col-xs
		button#prevWeek.btn-skip.btn.btn-primary.btn-outline.pull-right(class='{{prevWeekButton}}' title="{{_ 'shifts.prevWeek'}}")
			i.fa.fa-chevron-left
	.col-xs-8.col-md-4.col-xs.text-center
		a.week-chooser(href)
			span.m-r {{formatWeek 'showWeek'}}
			i.fa.fa-angle-down
		#datepicker-week
	.col-xs-2.col-md-1.col-xs.center
		button#nextWeek.btn-skip.btn.btn-primary.btn-outline(class="{{nextWeekButton}}" title="{{_ 'shifts.nextWeek'}}")
			i.fa.fa-chevron-right
	.col-xs-12.col-md-3.col-xs
		a.tag-chooser.pull-right(href)
			| Showing 1 of 3 tags
			i.fa.fa-angle-down
		ul.dropdown-menu.dropdown-menu-right.m-r-xs
			each tags
				if isTagParticipant _id
					if showTag
						li.tag-visible
							a(href title="{{_ 'shifts.shownTag'}}")
								i.fa.fa-eye
								| {{name}}
					else
						li.tag-hidden
							a(href title="{{_ 'shifts.hiddenTag'}}")
								i.fa.fa-eye-slash
								| {{name}}
