@import "../../styles/variables";

#page-wrapper {
	padding: 0 !important;
}

.header {
	margin          : -30px -35px 0;
	padding         : 30px;
	background-color: #e7e7e7;

	.tag-chooser,
	.week-chooser {
		color      : darken($indigo, .5);
		font-size  : 22px;
		font-weight: 300;
	}

	.btn-skip {
		min-width: 50px;
	}
}
