.label {
	background-color: $light-gray;
	color           : $label-badget-color;
	font-family     : 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size       : 10px;
	font-weight     : 600;
	padding         : 3px 8px;
	text-shadow     : none;
}

.badge {
	background-color: $light-gray;
	color           : $label-badget-color;
	font-family     : 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size       : 11px;
	font-weight     : 600;
	padding-bottom  : 4px;
	padding-left    : 6px;
	padding-right   : 6px;
	text-shadow     : none;
}

.badge-primary,
.label-primary {
	background-color: $indigo;
	color           : #FFFFFF;
}

.badge-success,
.label-success {
	background-color: $blue;
	color           : #FFFFFF;
}

.badge-warning,
.label-warning {
	background-color: $yellow;
	color           : #FFFFFF;
}

.badge-warning-light,
.label-warning-light {
	background-color: $yellow;
	color           : #ffffff;
}

.badge-danger,
.label-danger {
	background-color: $red;
	color           : #FFFFFF;
}

.badge-info,
.label-info {
	background-color: $lazur;
	color           : #FFFFFF;
}

.badge-inverse,
.label-inverse {
	background-color: #262626;
	color           : #FFFFFF;
}

.badge-white,
.label-white {
	background-color: #FFFFFF;
	color           : #5E5E5E;
}

.badge-disable,
.label-white {
	background-color: #2A2E36;
	color           : #8B91A0;
}
