template(name="user.search")
    +SearchForm data=data

template(name="user.details")
    +DetailsForm data=data

template(name="user.update")
    +UpdateForm data=data

template(name="user.password.change")
    +InsertForm data=data
