template(name="user.search")
  +SearchForm data=data

template(name="user.details")
  div
    +React component=UserDetails

template(name="users.adminEmails.details")
  div
    +React component=AdminEmails
