#mergeAccountsModal.modal.inmodal(tabindex='-1' aria-hidden='true')
	.modal-dialog.modal-sm.animated.fadeInUp
		.modal-content
			.modal-header
				i.fa.fa-users.modal-icon
				h2.m-b-none {{_ 'modal.mergeAccounts.title'}}
			.modal-body
				form.form-horizontal
					p {{_ 'modal.mergeAccounts.description'}}
					.form-group
						.col-sm-12.m-b-xs
							label.control-label {{_ 'modal.mergeAccounts.username'}}:
						.col-sm-12
							input#otherUsername.form-control(type='text' placeholder='{{_ "modal.mergeAccounts.username"}}')
					.form-group
						.col-sm-12.m-b-xs
							label.control-label {{_ 'modal.mergeAccounts.password'}}:
						.col-sm-12
							input#otherPassword.form-control(type='password' placeholder='{{_ "modal.mergeAccounts.password"}}')
			.modal-footer
				button#mergeAccounts.btn.btn-primary.btn-block {{_ 'modal.mergeAccounts.merge'}}
				button#close.btn.btn-white.btn-block(data-dismiss='modal') {{_ 'modal.close'}}
