body.md-skin[type='SearchForm'] {
	background-color: #fff !important;
	padding-top     : 126px;

	.navbar {
		width     : 100%;
		box-shadow: none;

		.navbar-back {
			position   : absolute;
			font-weight: 300;
		}

		.navbar-back,
		.navbar-title {
			color      : #fff;
			height     : 50px;
			padding    : 15px;
			font-size  : 18px;
			text-align : center;
			line-height: 20px;
		}

		.navbar-title {
			font-weight: 400;
		}
	}

	.search.input-group {
		margin: 0 9px 10px 10px; // why 9? see .input > margin-left

		.input-group-addon {
			color                    : #8e8e8e;
			padding                  : 6px 6px 6px 12px;
			font-family              : FontAwesome;
			border                   : none !important;
			border-top-left-radius   : 5px;
			border-bottom-left-radius: 5px;
		}

		input {
			border                    : none;
			border-top-right-radius   : 5px;
			border-bottom-right-radius: 5px;
			margin-left               : -1px;
			padding-left              : 5px;
		}
	}

	.search-title {
		color           : #777;
		height          : 32px;
		padding         : 6px 10px;
		font-size       : 14px;
		background-color: #e8e8e8;
	}

	.results-desktop {
		@media(max-width: 759px) {
			display: none !important;
		}

		tr {
			cursor: pointer;
		}
	}

	.results-mobile {
		width: 100%;
		@media(min-width: 760px) {
			display: none;
		}

		a {
			width  : 100%;
			color  : inherit;
			display: inline-block;

			tr {
				td,
				th {
					cursor       : pointer;
					padding      : 10px 15px 10px 0;
					font-size    : 15px;
					text-align   : left;
					border-bottom: 1px solid #eee;

					b,
					span {
						margin     : 3px 0;
						display    : block;
						line-height: 1;
						white-space: nowrap;

						&:empty {
							content: " ";
						}
					}
				}

				th.left {
					width        : 15px;
					border-bottom: 0;
				}

				td.item {
					width: 100%;
				}

				td.link {
					color         : #ccc;
					font-size     : 20px;
					vertical-align: middle;
				}
			}
		}
	}

	.noResultsOr {
		color: #777;
	}
}
