#addParticipantModal.modal.inmodal(tabindex='-1' aria-hidden='true')
  .modal-dialog.modal-md.animated.fadeInUp
    .modal-content
      .modal-header
        h2.m-b-none {{_ 'modal.addParticipant.title'}}
        p.text-muted {{_ 'modal.addParticipant.description'}}
        input#search.form-control(type='text' placeholder='{{_ "modal.addParticipant.search"}}')
      .modal-body
        if isProjectShiftScheduler
          if getUsers
            table.table.table-stripped
              each getUsers
                tr(class='{{getHidden}}')
                  td
                    .checkbox.checkbox-primary
                      input(id="check_{{_id}}" type="checkbox")
                      label(for="check_{{_id}}")
                        | {{firstname}} {{lastname}}
        else
          h2.center-align {{_ 'role.noPermission'}}
      .modal-footer
        if isProjectShiftScheduler
          if queryParam 'participantId'
            button#submit.btn.btn-primary.pull-left(data-dismiss='modal') {{_ 'modal.addParticipant.submit'}}
          else
            .btn.btn-primary.pull-left.disabled {{_ 'modal.addParticipant.submit'}}
        button#close.btn.btn-white(data-dismiss='modal') {{_ 'modal.close'}}
