with data
	.ibox
		.ibox-title
			h2 {{_ 'settings.main.title'}}
		.ibox-content
			form.form-horizontal
				.form-group
					label.col-sm-2.col-sm-2.col-lg-4.control-label {{_ 'settings.main.id'}}
					label.col-sm-10.col-lg-8.control-label.field-label {{_id}}
				.form-group
					label.col-sm-2.col-sm-2.col-lg-4.control-label {{_ 'settings.main.name.text'}}
					.col-sm-10.col-lg-8
						input#projectName.form-control(type='text' placeholder='{{_ "settings.main.name.placeholder"}}' value='{{name}}')
						span.help-block {{_ 'settings.main.name.helpText'}}
				.form-group
					label.col-sm-2.col-sm-2.col-lg-4.control-label {{_ 'settings.main.email.text'}}
					.col-sm-10.col-lg-8
						input#projectEmail.form-control(type='email' placeholder='{{_ "settings.main.email.placeholder"}}' value='{{email}}')
						span.help-block {{_ 'settings.main.email.helpText'}}
				.form-group
					label.col-sm-2.col-sm-2.col-lg-4.control-label {{_ 'settings.main.language.text'}}
					.col-sm-10.col-lg-8
						.dropdown
							button.btn.btn-white.btn-block.dropdown-toggle(data-toggle='dropdown' aria-expanded='false')
								span.m-r {{_ 'language.' context=language}}
								span.caret.pull-right
							ul.dropdown-menu
								li.header.p-xs {{_ 'settings.main.language.helpText'}}
								each getLanguages
									li
										a.changeLanguage(href newLang='{{_id}}') {{name}} ({{en}})
		.ibox-footer.right-align
			#deleteProject.btn.btn-danger.m-t-xs.m-b-xs
				i.fa.fa-trash.fa-fw
				| {{_ 'settings.main.deleteProject'}}
